
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Личный кабинет</h2>

<h3>Лот "Международные мероприятия"</h3>
<a href="@Url.Action("Create", "PRDSO", new { id = 0 })" class="btn btn-default">Добавить мероприятие</a>
<h3>Лот "Всеросийские мероприятия"</h3>
<a href="@Url.Action("Create", "PRDSO", new { id = 1 })" class="btn btn-default">Добавить мероприятие</a>
<h3>Лот "Межригеональный уровень"</h3>
<a href="@Url.Action("Create", "PRDSO", new { id = 2 })" class="btn btn-default">Добавить мероприятие</a>
<h3>Лот "Региональный уровень"</h3>
<a href="@Url.Action("Create", "PRDSO", new { id = 3 })" class="btn btn-default">Добавить мероприятие</a>
<h3>Лот "Внутривузовский уровень"</h3>
<a href="@Url.Action("Create", "PRDSO", new { id = 4 })" class="btn btn-default">Добавить мероприятие</a>
