@model RSC.Controllers.Models.ProfileViewModels.ProfileViewModel
@{
    ViewData["Title"] = "Index";

}
<style>
    .prdso-main {
        padding-left: 0px;
        padding-right: 0px;
        min-height: 1200px;
    }

    .prdso-header {
        min-height: 100px;
        background: #ff8861;
        background: linear-gradient(to right, #e55727 9%, #e21c25) 0 0 no-repeat;
        background: -webkit-linear-gradient(left, #e55727 9%, #e21c25) 0 0 no-repeat;
        background: -moz-linear-gradient(right, #e55727 9%, #e21c25) 0 0 no-repeat;
        background: -ms-linear-gradient(left, #e55727 9%, #e21c25) 0 0 no-repeat;
        background: -o-linear-gradient(right, #e55727 9%, #e21c25) 0 0 no-repeat;
        background: linear-gradient(to right, #e55727 9%, #e21c25) 0 0 no-repeat;
    }

    .prdso-header h2,
    .prdso-header h4 {
        color: white;
    }

    .prdso-header .prdso-username {
        float: right;
        margin-top: 23px;
        color: white;
    }

    .prdso-calendar {
        min-height: 300px;
        background-color: lightcyan;
    }

    .prdso-dashboard {
        margin-top: 50px;
        margin-bottom: 50px;
        padding-left: 0px;
        padding-right: 0px;
        min-height: 900px;
    }

    .prdso-dashboard-left {
        padding: 0px;
        min-height: 900px;
        background-color: white;
    }

    .prdso-dashboard-left-content {
        padding-right: 15px;
        padding-left: 0px;
    }

    .prdso-dashboard-left-menu {
        padding-left: 0px;
        padding-right: 0px;
    }

    .prdso-dashboard-left-menu h4 {
        margin-top: 0px;
        margin-bottom: 0px;
        height: 50px;
        padding-top: 15px;
        padding-left: 15px;
        color: white;
        background: lightblue;
        background: -webkit-linear-gradient(left, rgb(97,162,194), rgb(77,121,170));
        background: -o-linear-gradient(right, rgb(97,162,194), rgb(77,121,170));
        background: -moz-linear-gradient(right, rgb(97,162,194), rgb(77,121,170));
        background: linear-gradient(to right, rgb(97,162,194), rgb(77,121,170));
    }

    .prdso-dashboard-left-menu ul {
        padding: 0px;
        list-style-type: none;
    }

    .prdso-dashboard-left-menu ul a {
        color: dimgrey;
        font-weight: 600;
    }

    .prdso-dashboard-left-menu ul a:hover {
        color: #337ab7;
        text-decoration: none;
    }

    .prdso-dashboard-left-menu li {
        margin-top: 0px;
        margin-bottom: 0px;
        height: 50px;
        padding-top: 15px;
        padding-left: 15px;
        color: black;
        background-color: white;
        border: 1px solid lightgray;
        border-top: none;
    }

    .prdso-dashboard-left-application {
        padding-left: 0px;
        padding-right: 0px;
        margin-top: 50px;
        min-height: 550px;
        background-color: lightblue;
    }


        .prdso-dashboard-left-application h4 {
            margin-top: 0px;
            margin-bottom: 0px;
            height: 50px;
            padding-top: 15px;
            padding-left: 15px;
            color: white;
            background: lightblue;
            background: -webkit-linear-gradient(left, rgb(97,162,194), rgb(77,121,170));
            background: -o-linear-gradient(right, rgb(97,162,194), rgb(77,121,170));
            background: -moz-linear-gradient(right, rgb(97,162,194), rgb(77,121,170));
            background: linear-gradient(to right, rgb(97,162,194), rgb(77,121,170));
        }


        .prdso-dashboard-left-application ul {
            padding: 0px;
            list-style-type: none;
        }

            .prdso-dashboard-left-application ul a {
                color: dimgrey;
                font-weight: 600;
            }

                .prdso-dashboard-left-application ul a:hover {
                    color: #337ab7;
                    text-decoration: none;
                }


        .prdso-dashboard-left-application li {
            margin-top: 0px;
            margin-bottom: 0px;
            height: 53px;
            padding-top: 15px;
            padding-left: 15px;
            color: black;
            background-color: white;
            border: 1px solid lightgray;
            border-top: none;
        }

    .prdso-dashboard-main {
        padding-right: 0px;
        min-height: 900px;
        background-color: white;
    }

    .prdso-dashboard-main-content {
        background-color: rgb(247,247,247);
        padding-left: 25px;
        padding-right: 25px;
        min-height: 900px;
    }

        .prdso-dashboard-main-content h2 {
            margin-top: 50px;
            text-align: center;
        }

        .prdso-dashboard-main-content .btn-red {
            padding-left: 25px;
            padding-right: 25px;
            font-weight: 600;
        }

    .lot {
        margin-top: 50px;
        border: 1px solid lightgrey;
        min-height: 125px;
    }

    .accept-prdso {
        margin-top: 30px;
        padding-left: 0px;
        padding-right: 0px;
    }

    .accept-prdso-inner-one {
        padding-left: 0px;
        padding-right: 0px;
    }

    .accept-prdso-inner-two {
        margin-top: 20px;
        padding-left: 0px;
        padding-right: 0px;
        padding-bottom: 30px;
    }
</style>

@Html.HiddenFor(model => model.PrdsoId)

<div class="col-md-12 prdso-main">
    <div class="col-md-12 prdso-header">
       
        <div class="col-md-6">
            <h2>ПРДСО</h2>
            <h4>@Model.Prdso.University.UniversityData.UniversityShortName</h4>
        </div>
        <div class="col-md-6">
            @if (Model.University != null)
            {
                <h4 class="prdso-username">@Model.University.MiddleName @Model.University.Name @Model.University.Surname </h4>
                <i class="fa fa-user-circle-o" aria-hidden="true" style="float: right; margin-top: 25px; padding-right: 5px; color: white;"></i>
            }
        </div>
    </div>

    <div class="col-md-12 prdso-dashboard">
        <div class="col-md-4 prdso-dashboard-left">
            <div class="col-md-12 prdso-dashboard-left-content">
                <div class="prdso-dashboard-left-menu">
                    <h4>Меню пользователя</h4>
                    <ul>
                        <li><a href="/staticfiles/О_Конкурсе.docx">Положение о конкурсе</a></li>
                        <li><a href="/manage/index/">Профиль ООВО</a></li>
                        <li><a href="#">Мероприятия</a></li>
                        <li><a href="#">Печать заявки</a></li>
                        <li><a href="/about/contacts">Обратная связь</a></li>                      
                    </ul>
                </div>
                <div class="prdso-dashboard-left-menu" style="margin-top: 50px;">
                    <h4>Файлы</h4>
                    <ul>
                        <li>
                            <a href="@Model.Prdso.OrderApprovalRector.Path" download>
                                <i class="fa fa-download"></i>Приказ об утверждении (назначении) ректора
                            </a>
                        </li>
                        <li>
                            <a href="@Model.Prdso.EGRUL.Path" download>
                                <i class="fa fa-download"></i>ЕГРЮЛ
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="prdso-dashboard-left-application">
                    <h4>Заявка ПСО-2018-@Model.Prdso.Id</h4>
                    <ul>
                        <li>
                            <a href="#">Статус заявки</a>

                            @if (Model.Prdso.Status.Name == "None")
                            {
                                <p style="float:right; padding-right: 10px; color: navajowhite; font-weight: bold;">Подготовка</p>
                            }

                            @if(Model.Prdso.Status.Name == "Submitted")
                            {
                                <p style="float:right; padding-right: 10px; color: lightgreen; font-weight: bold;">На рассмотрении</p>
                            }

                            @if (Model.Prdso.Status.Name == "Approved")
                            {
                                <p style="float:right; padding-right: 10px; color: lawngreen; font-weight: bold;">Подтверждено</p>
                            }

                            @if (Model.Prdso.Status.Name == "Rejected")
                            {
                                <p style="float:right; padding-right: 10px; color: lightcoral; font-weight: bold;">Отказано</p>
                            }
                        </li>
                        <li class="col-md-12"><a href="#">Количество мероприятий</a><label class="pull-right">@Model.Events.Count()</label></li>
                        <li class="col-md-12"><a href="#">Объем субсидий</a><label class="pull-right">@Model.Events.Sum(e => e.AmountOfAttractedSubsidy) тыс.р.</label></li>
                        <li class="col-md-12">
                            <a href="#">Объем софинансирования</a>
                                <label class="pull-right">@(@Model.Events.Sum(e => e.AmountOfAttractedSubsidy) + 
                                                          @Model.Events.Sum(e => e.AmountOfOwnSubsidy) + 
                                                          @Model.Events.Sum(e => e.AmountOfTheRequestedSubsidy)) тыс.р.
                                </label>
                        </li>
                        <li class="col-md-12">
                            <a href="#">Объем привлеченных средств</a>
                            <label class="pull-right">@Model.Events.Sum(e => e.AmountOfOwnSubsidy) тыс.р.</label>
                        </li>
                        <li class="col-md-12">
                            <a href="#">По лотам</a>
                        </li>
                        <li class="col-md-12">
                            <a href="#">Всероссийские мероприятия</a>
                            <label class="pull-right">@Model.Events.Count(e => e.EventType.Name == "Всеросийские мероприятия")</label>
                        </li>
                        <li class="col-md-12">
                            <a href="#">Межрегиональные мероприятия</a>
                            <label class="pull-right">@Model.Events.Count(e => e.EventType.Name == "Межригеональный уровень")</label>
                        </li>
                        <li class="col-md-12">
                            <a href="#">Региональные мероприятия</a>
                            <label class="pull-right">@Model.Events.Count(e => e.EventType.Name == "Региональный уровень")</label>
                        </li>
                        <li class="col-md-12">
                            <a href="#">Международные мероприятия</a>
                            <label class="pull-right">@Model.Events.Count(e => e.EventType.Name == "Международные мероприятия")</label>
                        </li>

                        <li class="col-md-12">
                            <a href="#">Внутривузовский уровень</a>
                            <label class="pull-right">@Model.Events.Count(e => e.EventType.Name == "Внутривузовский уровень")</label>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-8 prdso-dashboard-main">
            <div class="col-md-12 prdso-dashboard-main-content">
                <div class="col-md-12" style="height:100px;">
                    <h2>Мероприятия</h2>
                </div>
                <div class="col-md-12" style="margin-top: 25px; padding-left:0px; padding-right:0px;">
                    @if(Model.Prdso.Status.Name == "Rejected")
                    {
                        <label class="col-md-12" style="color:lightcoral">@Model.Prdso.PrdsoStatusComment</label>
                    }

                    @if (Model.Prdso.Status.Name != "Approved" && Model.Prdso.Status.Name != "Submitted")
                    {
                        @if (User.IsInRole("OOBO"))
                        {
                            <a href="@Url.Action("Create", "Events", new { id = Model.PrdsoId })" class="btn-red col-sm-4">+ Добавить мероприятие</a>
                        }

                        @if (User.IsInRole("CO"))
                        {

                            <div class="col-sm-5">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        @Html.CheckBoxFor(model => model.Prdso.StudentCouncilApproved)
                                    </span>
                                    <input type="text" class="form-control" aria-label=" Подтвеждение СO" value="Подтвеждение СO" disabled>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="col-sm-5">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        @Html.CheckBoxFor(model => model.Prdso.StudentCouncilApproved, new { disabled = "disabled" })
                                    </span>
                                    <input type="text" class="form-control" aria-label=" Подтвеждение СO" value="Подтвеждение СO" disabled>
                                </div>
                            </div>
                        }
                    }
                    
                    @if(Model.Prdso.Status.Name == "Submitted")
                    {
                        <div>
                            <h4>Заявка ПРДСО отправленна на  расмотрение</h4>
                        </div>
                    }
                </div>
                @foreach (var item in Model.EventTypes)
                {
                    <div class="col-md-12 lot">
                        <h5 style="font-weight: bold; font-size:14px;">Лот <@item.Name></h5>
                        @foreach (var eventun in Model.Events)
                        {
                            @if (item.Id == eventun.EventTypeId)
                            {
                                <div class="col-md-12">
                                    <div class="col-sm-6">
                                        <label style="color: black; font-size: 16px;">
                                            <a href="@Url.Action("Details", "Events", new {id = @eventun.Id})" style="cursor: pointer; width: 100%">@eventun.NameEvent</a>
                                        </label>
                                    </div>
                                    <div class="col-sm-6" style="text-align: right;">
                                        @*@if( (User.IsInRole("OPERATOR") || User.IsInRole("ADMIN")))
                                        {
                                            <select class="form-control" data-eventId="@eventun.Id">
                                                @foreach (var state in Model.EventStates)
                                                {
                                                    <option value="@state.Id">@state.Name</option>
                                                }
                                            </select>
                                        }*@
                                        
                                        @if((User.IsInRole("OOBO") || User.IsInRole("ADMIN")) && Model.Prdso.Status.Name == "Approved")
                                        {
                                            @Html.ActionLink("Добавить доп. информацию о Мероприятии", "Edit", "PublicNewsInfo", new { eventId = eventun.Id }, new { @class = "btn btn-default" })
                                            <select class="form-controle eventstatus" data-eventId="@eventun.Id">
                                                @foreach (var status in Model.EventStatuses)
                                                {
                                                    <option value="@status.Id">@status.StatusName</option>
                                                }
                                            </select>
                                        }

                                        @if ((User.IsInRole("OOBO") || User.IsInRole("ADMIN")) && Model.Prdso.Status.Name != "Approved" && Model.Prdso.Status.Name != "Submitted")
                                        {
                                            @Html.ActionLink("Изменить", "Edit", "Events", new {id = eventun.Id}, new {@class = "btn btn-default"})
                                            @Html.ActionLink("Удалить", "Delete", "Events", new {id = eventun.Id}, new {@class = "btn btn-default"})
                                        }                                        
                                    </div>
                                </div>
                            }
                        }
                    </div>
                }

                @if (User.IsInRole("OOBO") && Model.Prdso.Status.Name != "Approved" && Model.Prdso.Status.Name != "Submitted")
                {
                    <div class="col-md-12 ">
                        <div class="input-group">
                            <span class="input-group-addon">
                                @Html.CheckBoxFor(model => model.Prdso.UniversityApproved)
                            </span>
                            <input type="text" class="form-control" aria-label="С положением о конкурсе ПРДСО ознакомлен" value="С положением о конкурсе ПРДСО ознакомлен" disabled>
                        </div>       
                        <div class="col-md-12 accept-prdso-inner-two accept-prdso"><a href="@Url.Action("SendPrdso", "Profile", new { prdsoid = Model.Prdso.Id })" class="btn-blue">Отправить заявку</a></div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        var showAcceptPrdso = function () { 
            if ($("#Prdso_StudentCouncilApproved").prop('checked') && $("#Prdso_UniversityApproved").prop('checked')) {
                $(".accept-prdso").show();
            }
            else {
                $(".accept-prdso").hide();
            }
        }
        showAcceptPrdso();

        $("#Prdso_StudentCouncilApproved, #Prdso_UniversityApproved").click(function ()
        {
            $.ajax({
                method: "GET",
                url: "@Url.Action("ChangeApproved", "Profile")",
                data: {
                    studenApproved: $("#Prdso_StudentCouncilApproved").prop('checked'),
                    universityApproved: $("#Prdso_UniversityApproved").prop('checked'),
                    prdsoId : $("#PrdsoId").val()
                }
            }).success(function () {

            }).error(function () { 

            })
            showAcceptPrdso();
        });        

        $(".eventstatus").change(function () {
            $.ajax({
                method: "POST",
                url: "@Url.Action("ChangeStatusEvent", "Events")",
                data: { eventId: $(this).attr("data-eventId"), eventStatusId: $(this).val() }
            }).success(function (res) { 
                
            }).error(function (res) {
                
            })
        });
</script>
}

