@model IEnumerable<RSC.Controllers.Models.ProfileViewModels.ProfileViewModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>ProfileList</h2>


<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Название
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="prdso row">
                @Html.HiddenFor(modelItem => item.PrdsoId)
                <td>
                    @Html.DisplayFor(modelItem => item.PrdsoId)
                </td>
                <td class="col-md-4">
                    @Html.DisplayFor(modelItem => @item.Prdso.University.UniversityData.UniversityName)
                </td>
                <td class="col-md-1">
                    @if (item.Prdso.Submitted)
                    {
                        <label style="color:lightslategrey">НА расмотрении</label>
                    }
                    else
                    {
                        <label style="color:lightcoral">НЕ отправленна</label>
                    }
                </td>
                <td class="col-md-1">
                    @Html.ActionLink("Посмотреть", "Index", "Profile", new { id = item.PrdsoId })                    
                </td>
                <td class="col-md-3">
                    @Html.DropDownListFor(modelItem => item.Prdso.StatusId, ViewBag.PrdsoStatuses as SelectList, new { @class="form-control" })
                    @Html.TextArea("StatusComment", "" , new {@clss="form-control", placeholder = "Status comment", rows = 4, style="width:100%" })
                </td>
                <td class="col-md-1">
                    <button class="btn btn-sm submit">Submit</button>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {

<script>
    $(".submit").click(function ()
    {
        $.ajax({
            method: "GET",
            url: "@Url.Action("ChangeStatusPrdso", "Profile")",
            data: {
                prdsoId: $(this).closest(".prdso").find("#item_PrdsoId").val(), 
                statusId: $(this).closest(".prdso").find("#item_Prdso_StatusId").val(),
                prdsoStatusComment: $(this).closest(".prdso").find("#StatusComment").val(),
            },
        }).success(function (res) { 
            location.reload();
        }).error(function () { 

        })
    })

</script>
}