@using RSC.Data.DbModels
@model RSC.Controllers.Models.EventsViewModels.EventCreateViewModel
@{ 
    int index = 0;
}
<div class="paddingMainblock">
    <h2>Финансово-экономическое обоснование</h2>
    <div class="col-md-12 costSections">
        @foreach(CostSection costsection in Model.CostSections)
        {
            <h3>
                @costsection.Name
            </h3>
            @foreach(var divisions in costsection.CostDivisions)
            {
                <div class="costsheet">
                    <h4>@divisions.Name</h4>
                    <div class="row CostsList">
                        @foreach (var cost in @Model.Costs.Where(cost => cost.СostDivisionId == divisions.Id).ToList())
                        {
                            <div class="CostsElement num">
                                @Html.Hidden("Costs[" + @index + "].Id", cost.Id)
                                @Html.Hidden("Costs[" + @index + "].EventId", @cost.EventId)
                                @Html.Hidden("Costs[" + @index + "].СostDivisionId", @cost.СostDivisionId, new { @class = "costDivisionId" })
                                <div class="form-group directionOfCost col-md-3">
                                    <label class="control-label">Направление расходов*</label>
                                    @Html.TextBox("Costs[" + @index + "].DirectionOfCost", @cost.DirectionOfCost,  new { @class = "form-control" } )
                                </div>
                                <div class="form-group unit col-md-2">
                                    <label class="control-label">Единица измерения*</label>
                                    @Html.TextBox("Costs[" + @index + "].Unit", cost.Unit, new { @class = "form-control" } )
                                </div>
                                <div class="form-group count col-md-1">
                                    <label class="control-label">Количество*</label>
                                    @Html.TextBox("Costs[" + @index + "].Count", cost.Count.ToString(),  new { @class = "form-control" } )
                                </div>
                                <div class="form-group unitPrice col-md-2">
                                    <label class="control-label">Цена за единицу*</label>
                                    @Html.TextBox("Costs[" + @index + "].UnitPrice", @cost.UnitPrice.ToString(), new { @class = "form-control"  })
                                </div>
                                <div class="form-group amountCost col-md-2">
                                   <label class="control-label">Объем расходов</label>
                                    @Html.TextBox("Costs[" + @index + "].AmountCost", @cost.AmountCost.ToString(),  new { @class = "form-control" })                                   
                                </div>
                                <div class="form-group note col-md-1">
                                    <label>Примечание</label>
                                    @Html.TextBox("Costs[" + @index + "].Note", @cost.Note,  new { @class = "form-control" })
                                </div>
                                <div class="col-md-1">
                                    <span class="glyphicon glyphicon-remove deleteCosts" aria-hidden="true" style="background-color:lightgreay"></span>
                                </div>
                                @{
                                    index++;
                                }
                            </div>
                           
                        }
                    </div>
                    <button class="btn btn-sm btn-success addCosts" data-divisionsid="@divisions.Id">Добавить</button>
                </div>
            }
        }
    </div>
</div>