
@{
    ViewData["Title"] = "Панель Администратора";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style>
    .sidebar {
        top: 51px;
        left: 0;
        z-index: 10;
        padding-top:20px;
        display:block;
        height: 100%;
        overflow-x: hidden;
        overflow-y: auto;
        border-right: 1px solid #eee;
    }
        .sidebar .nav {
            margin-bottom: 20px;
        }

        .sidebar .nav-item {
            width: 100%;
        }

            .sidebar .nav-item + .nav-item {
                margin-left: 0;
            }

        .sidebar .nav-link {
            border-radius: 0;
        }
</style>
<div class="container-fluid" style="height:100%; min-height:400px;">
    <div class="row">
        <nav class="col-sm-3 col-md-2 d-none d-sm-block bg-light sidebar">
            <ul class="nav nav-pills flex-column">
                <li class="nav-item">
                    <a class="nav-link active" href="@Url.Action("Index", "Admin")">Админ панель<span class="sr-only">(current)</span></a>
                </li>
            </ul>
            @(User.IsInRole("OPERATOR"))
            {
            <ul class="nav nav-pills flex-column">
              
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("СonfirmationUsers", "Admin")">Подтверждение юзеров</a>
                </li>  
                <li class="nav-item">
                    <a class="nav-link" href="/profile/profilelist">Заявки ПРДСО</a>
                </li>
                
            </ul>
            }
            @(User.IsInRole("ADMIN"))
            {
                <ul  class="nav nav-pills flex-column">
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index", "Roles")">Роли</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index", "News")">Новости</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index", "NewsRubrics")">Новостные рубрики</a>
                    </li>
                </ul>
            }
        </nav>

        <main role="main" class="col-sm-9 ml-sm-auto col-md-10 pt-3">
           @RenderBody()
        </main>
    </div>
</div>
@section Scripts{ 
@RenderSection("Scripts", required: false)
}