@model RSC.Models.NewsViewModels.DetailsNewsViewModel


@{
    ViewData["Title"] = "Детали";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var rosstud = "http://rosstudtsentr.ru";
    var facebookShareLink  = "https://www.facebook.com/sharer/sharer.php?u=";
    var vkShareLink = "https://vk.com/share.php?url=";
    var twitterShareLink = "https://twitter.com/intent/tweet?url=";
    var telegramShareLink = "https://t.me/share/url?url=";

}

<style>
    .newsheader {
        background: linear-gradient(to right, #e55727 3%, #e21c25) 0 0 no-repeat;
    }

    .headerTitle{
        color:white;
    }

    .rs-news__title {
        font-size: 24px;
        font-weight: 800;
        padding-top: 20px;
        padding-bottom: 20px;
        word-wrap: break-word;
        word-break: break-all;
    }
    .rs-news__img {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .leftimg {
        float:left; /* Выравнивание по левому краю */
        margin: 7px 7px 7px 0; /* Отступы вокруг картинки */
        max-width: 400px;
        margin-right: 30px;
    }
    .rightimg  {
        float: right; /* Выравнивание по правому краю  */ 
        margin: 7px 0 7px 7px; /* Отступы вокруг картинки */
    }

    .news-share {
        margin-bottom: 20px;
    } .news-share i {
        color: lightblue;
    }
</style>
@*<div class="newsheader">
    <h2 class="headerTitle">Новости</h2>
</div>*@
<div>
    <div class="rs-news__title">@Html.DisplayFor(model => model.Title)</div>
    
    @*<div class="rs-news__img col-md-12">
        <img src="@Url.Content(Model.MainImagePath)">
    </div>*@
    
    <div class="col-md-12" style="padding-left:0px; border-bottom: solid 1px lightgray; word-wrap: break-word; word-break: break-all;">
        <img src="@Url.Content(Model.MainImagePath)" class="leftimg">
        <p style="word-wrap: break-word; word-break: break-all;"> @Html.Raw(@Model.Text)</p>
       
    </div>
    
    <div class="col-md-12 news-share">
        <h4>Поделиться:</h4>
        <a href="@facebookShareLink@rosstud@Url.Action("Details","News")" target="_blank"><i class="fa fa-facebook fa-2x"></i></a>
        <a href="@vkShareLink@rosstud@Url.Action("Details","News")" target="_blank"><i class="fa fa-vk fa-2x"></i></a>
        <a href="@twitterShareLink@rosstud@Url.Action("Details","News")" target="_blank"><i class="fa fa-twitter fa-2x"></i></a>
        <a href="@telegramShareLink@rosstud@Url.Action("Details","News")" target="_blank"><i class="fa fa-telegram fa-2x"></i></a>

    </div>


</div>
<div>
    @if (this.User.IsInRole("admin"))
    {
        <a asp-action="Index">Вернуться к списку</a> <br />
    }
    @*<a asp-action="NewsBoard">Вернуться к новостой стене</a>*@
</div>
