@using RSC.Models.NewsViewModels
@model RSC.Models.NewsViewModels.IndexNewsViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>

<p>
    <a asp-action="TakeLastSix">Take last six</a>
</p>

<table class="table">
    <thead>
        <tr>
                <th>
                    MainImage
                </th>
                <th>
                    Id
                </th>
                <th>
                    Title
                </th>
                <th>
                    Text
                </th>
                <th>
                    CreateDateTime
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.News) {
        <tr>
            <td>
                <p><img height="50" src="@Url.Content(item.MainImagePath)"></p>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Text)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreateDateTime)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {  id=item.Id  }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
