@model RSC.Models.NewsViewModels.IndexNewsViewModel
@addTagHelper "*, RSC"

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<style>
    .text {
        display: block;
        width: 500px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
</style>

<h2>Новости</h2>

<p>
    <a asp-action="Create">Создать новую</a>
</p>

<p>
    <a asp-action="NewsBoard">Посмотреть в каталоге</a>
</p>

<table class="table">
    <thead>
        <tr>
                <th>
                    Изображение
                </th>
                <th>
                    Id
                </th>
                <th>
                    Оглавление
                </th>
                <th>
                    Содержание
                </th>
                <th>
                    Дата создания
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.News) {
        <tr>
            <td style="max-width: 150px;">
                <p><img height="50" src="@Url.Content(item.MainImagePath)"></p>
            </td>
            <td style="max-width: 150px; text-overflow: ellipsis; overflow: hidden;">
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td style="max-width: 150px; max-height: 100px; text-overflow: ellipsis; overflow: hidden;">
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td style="max-width: 150px; text-overflow: ellipsis; overflow: hidden;">
                <div style="max-width: 150px; max-height: 100px;word-wrap: break-word; word-break: break-all;">
                    @Html.Raw(@item.Text)
                </div>
            </td>
            <td style="max-width: 50px;">
                @Html.DisplayFor(modelItem => item.CreateDateTime)
            </td>
            <td style="display: flex; flex-direction: row; justify-content: space-between; max-width: 150px;">
                @Html.ActionLink("Изменить", "Edit", new {  id=item.Id  }) |
                @Html.ActionLink("Детали", "Details", new { id = item.Id }) |
                @Html.ActionLink("Удалить", "Delete", new { id=item.Id })
            </td>
        </tr>
}
    </tbody>
</table>

<page-link action page-model="@Model.PageViewModel" page-action="Index"></page-link>
