@model RSC.Controllers.Models.NewsViewModels.NewsMainPageViewModel

@{
    ViewData["Title"] = "NewsMainPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>

    .titleimage {
        position: absolute;
        top: 80%;
        left: 20%;
        width: 100%;
        color:snow;
    }

    .linkImage {
        position: absolute;
        top: 60%;
        left: 20%;
        width: 100%;
        color: snow;
    }

    .wrappedtext {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 100%;
        display: inline-block;
        font-weight: normal;
    }

    .headerNewsMainPage{
        text-align:center;
    }

    .image {
        z-index: 9;  
    }

    .top-all-news {
        min-height: 400px;
        border-right: solid 5px white;
        -webkit-box-shadow: inset 0px -171px 66px -33px rgba(0,0,0,0.56);
        -moz-box-shadow: inset 0px -171px 66px -33px rgba(0,0,0,0.56);
        box-shadow: inset 0px -171px 66px -33px rgba(0,0,0,0.56);
    }
    .top-all-news .btn-transparent {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        font-weight: bold;
        border: solid #ffffff 2px;
        z-index: 10;
        position: absolute;
        width: 80%;
        top: 70%;
        left: 9%;
    }

    .news-main-block{
        margin-top: 20px;
        padding-left:0px;
        padding-right: 0px;
    }

    .news-main-block-left{
        padding-left:0px;
        padding-right: 0px;
    }

    .big-news-block {
        padding-left: 0px;
        padding-right: 0px;
        min-height: 500px;
        -webkit-box-shadow: inset 0px -200px 66px -72px rgba(0,0,0,0.56);
        -moz-box-shadow: inset 0px -200px 66px -72px rgba(0,0,0,0.56);
        box-shadow: inset 0px -200px 66px -72px rgba(0,0,0,0.56);
    }

        .big-news-block h4 {
            text-transform: uppercase;
            color: white;
            font-weight: bold;
            word-wrap: break-word;
            left: 10%;
            width: 80%;
        }

    .one-mini-news {
        padding-left:0px;
        padding-right: 0px;
        min-height: 100px;
    }

    .one-mini-news-text p {
        text-transform: uppercase;
        color: black;
        font-weight: bold;
        word-wrap: break-word;
    } 
    .one-mini-news-text {
        padding-right: 20px;
    }


</style>
<div class="col-md-12" style="padding-left: 0px; padding-right: 0px; margin-top: 60px;">
    <div class="col-md-3 top-all-news" style="background: url(@Url.Content( @Model.News.Select(n => n.ObjectNews.MainImage).FirstOrDefault())) no-repeat;background-size:cover; background-position: center center;">
        @*<img class="col-md-12 imagehead" src="@Url.Content( @Model.News.Select(n => n.ObjectNews.MainImage).FirstOrDefault() )">*@
        <a href="@Url.Action("NewsBoard","News", new { newsRubricId = Model.News.Select(n => n.ObjectNews.ListObjectNewsNewsRubric.Where(nn => nn.NewsRubric.Name == "Новости")
                                                                                .Select(nn => nn.NewsRubricId).FirstOrDefault()).FirstOrDefault()})" class="btn-transparent">НОВОСТИ</a>
        @*<h4 class="titleimage">@Model.News.Select(n => n.ObjectNews.Title).FirstOrDefault()</h4>*@
    </div>
    <div class="col-md-3  top-all-news" style="background: url(@Url.Content(@Model.Announs.Select(a => a.PublicEventInformation.SmallFoto.Path).FirstOrDefault())) no-repeat;background-size:cover;background-position: center center;">
        @if (Model.Announs.Select(a => a.PublicEventInformation).FirstOrDefault() != null)
        {
            
            <a href="@Url.Action("AnnouncementsBoard", "PublicEventsInfo")" class="btn-transparent">АНОНСЫ</a>
            @*<h4 class="titleimage">@Model.Announs.Select(a => a.NameEvent).FirstOrDefault()</h4>*@
        }
    </div>
    <div class="col-md-3 top-all-news" style="background: url(@Url.Content( @Model.Interviews.Select(i => i.ObjectNews.MainImage).FirstOrDefault())) no-repeat;background-size:cover;background-position: center center;">
        @*<img class="col-md-12 top-all-news" src="@Url.Content( @Model.Interviews.Select(i => i.ObjectNews.MainImage).FirstOrDefault())">*@
        <a href="@Url.Action("NewsBoard","News", new { newsRubricId = Model.Interviews.Select(n => n.ObjectNews.ListObjectNewsNewsRubric.Where(nn => nn.NewsRubric.Name == "Интервью").Select(nn => nn.NewsRubricId).FirstOrDefault()).FirstOrDefault()})" class="btn-transparent">ИНТЕРВЬЮ</a>
        @*<h4 class="titleimage">@Model.Interviews.Select(i => i.ObjectNews.Title).FirstOrDefault()</h4>*@
    </div>
    <div class="col-md-3 top-all-news" style="background: url(@Url.Content( @Model.Blogs.Select(n => n.ObjectNews.MainImage).FirstOrDefault())) no-repeat;background-size:cover;background-position: center center;">
        @*<img class="col-md-12 imagehead" src="@Url.Content( @Model.Blogs.Select(n => n.ObjectNews.MainImage).FirstOrDefault())">*@
        <a href="@Url.Action("NewsBoard","News", new { newsRubricId = Model.Blogs.Select(n => n.ObjectNews.ListObjectNewsNewsRubric.Where(nn => nn.NewsRubric.Name == "Блог").Select(nn => nn.NewsRubricId).FirstOrDefault()).FirstOrDefault()})" class="btn-transparent">БЛОГ</a>
        @*<h4 class="titleimage">@Model.Blogs.Select(n => n.ObjectNews.Title).FirstOrDefault()</h4>*@
    </div>
</div>
<div class="col-md-12" style="padding-left:0px; padding-right:0xp;">
    <a class="headerNewsMainPage" href="@Url.Action("NewsBoard","News")"><h3>НОВОСТИ</h3></a>
    <hr />
    <div class="col-md-12 news-main-block">
        <div class="col-md-4 news-main-block-left">
            <a href="@Url.Action("Details","News", new { id = @Model.News.Skip(1).Select(n => n.ObjectNews.Id).FirstOrDefault() })" class="col-md-12" style="padding-left:0px; padding-right:0px;">
                <div class="col-md-4 one-mini-news" style="background: url(@Url.Content( @Model.News.Skip(1).Select(n => n.ObjectNews.HomePageImage).FirstOrDefault())) no-repeat;background-size:cover; background-position: center center;">
                    @*<img class="col-md-12" src="@Url.Content( @Model.News.Skip(1).Select(n => n.ObjectNews.HomePageImage).FirstOrDefault())">*@     
                </div>
                <div class="col-md-8 one-mini-news-text">
                    <p>@Model.News.Skip(1).Select(n => n.ObjectNews.Title).FirstOrDefault()</p>
                    <div style="color:lightgray">@Model.News.Skip(1).Select(n => n.ObjectNews.UpdateDateTime).FirstOrDefault()</div>
                </div>
            </a>
            <a href="@Url.Action("Details","News", new { id = @Model.News.Skip(2).Select(n => n.ObjectNews.Id).FirstOrDefault() })" class="col-md-12" style="padding-left:0px; padding-right:0px; margin-top:40px;">
                <div class="col-md-4 one-mini-news" style="background: url(@Url.Content( @Model.News.Select(n => n.ObjectNews.HomePageImage).Skip(2).FirstOrDefault())) no-repeat;background-size:cover; background-position: center center;">
                    @*<img class="col-md-12" src="@Url.Content( @Model.News.Select(n => n.ObjectNews.HomePageImage).Skip(2).FirstOrDefault())">*@
                </div>
                <div class="col-md-8 one-mini-news-text">
                    <p>@Model.News.Skip(2).Select(n => n.ObjectNews.Title).FirstOrDefault()</p>
                    <div style="color:lightgray">@Model.News.Skip(2).Select(n => n.ObjectNews.UpdateDateTime).FirstOrDefault()</div>
                </div>
            </a>
            <a href="@Url.Action("Details","News", new { id = @Model.News.Skip(3).Select(n => n.ObjectNews.Id).FirstOrDefault() })" class="col-md-12" style="padding-left:0px; padding-right:0px;margin-top:40px;">
                <div class="col-md-4 one-mini-news" style="background: url(@Url.Content( @Model.News.Select(n => n.ObjectNews.HomePageImage).Skip(3).FirstOrDefault())) no-repeat;background-size:cover; background-position: center center;">
                    @*<img class="col-md-12" src="@Url.Content( @Model.News.Select(n => n.ObjectNews.HomePageImage).Skip(3).FirstOrDefault())">*@
                </div>
                <div class="col-md-8 one-mini-news-text">
                    <p>@Model.News.Skip(3).Select(n => n.ObjectNews.Title).FirstOrDefault()</p>
                    <div style="color:lightgray">@Model.News.Skip(3).Select(n => n.ObjectNews.UpdateDateTime).FirstOrDefault()</div>
                </div>
            </a>
            <a href="@Url.Action("Details","News", new { id = @Model.News.Skip(4).Select(n => n.ObjectNews.Id).FirstOrDefault() })" class="col-md-12" style="padding-left:0px; padding-right:0px;margin-top:40px;">
                <div class="col-md-4 one-mini-news" style="background: url(@Url.Content( @Model.News.Select(n => n.ObjectNews.HomePageImage).Skip(4).FirstOrDefault())) no-repeat;background-size:cover; background-position: center center;">
                    @*<img class="col-md-12" src="@Url.Content( @Model.News.Select(n => n.ObjectNews.HomePageImage).Skip(4).FirstOrDefault())">*@
                </div>
                <div class="col-md-8 one-mini-news-text">
                    <p>@Model.News.Skip(4).Select(n => n.ObjectNews.Title).FirstOrDefault()</p>
                    <div style="color:lightgray">@Model.News.Skip(4).Select(n => n.ObjectNews.UpdateDateTime).FirstOrDefault()</div>
                </div>
            </a>
        </div>

        <div class="col-md-8 big-news-block" style="background: url(@Url.Content( @Model.News.Select(n => n.ObjectNews.MainImage).FirstOrDefault())) no-repeat;background-size:cover; background-position: center center;">
            <a href="@Url.Action("Details","News", new { id = @Model.News.Select(n => n.ObjectNews.Id).FirstOrDefault() })">
                @*<img class="col-md-8" src="@Url.Content( @Model.News.Select(n => n.ObjectNews.MainImage).FirstOrDefault() )">*@
                <h4 class="titleimage">@Model.News.Select(n => n.ObjectNews.Title).FirstOrDefault()</h4>
            </a>
        </div>
    </div>
</div>
<div class="col-md-12">
    <a class="headerNewsMainPage" href="@Url.Action("AnnouncementsBoard","PublicEventsInfo")"><h3>АНОНСЫ</h3></a>
        <hr />
        <div class="row">
            <a href="@Url.Action("Details","PublicEventsInfo", new { id = @Model.Announs.Select(a => a.Id).FirstOrDefault()})" class="col-md-4">
                <div class="row">
                    <h5 class="col-md-12">@Model.Announs.Select(a => a.NameEvent).FirstOrDefault()</h5>
                </div>
                <div class="row">
                    @if (Model.Announs.Select(a => a.PublicEventInformation).FirstOrDefault() != null)
                    {
                        <img class="col-md-12" src="@Url.Content(@Model.Announs.Select(a => a.PublicEventInformation.SmallFoto.Path).FirstOrDefault())">
                    }
                </div>
                <div class="row">
                    @if (Model.Announs.Select(a => a.PublicEventInformation).FirstOrDefault() != null)
                    {
                        <h4 class="col-md-12 wrappedtext">@Model.Announs.Select(a => a.PublicEventInformation.TextForDetailsView).FirstOrDefault()</h4>
                    }
                </div>
            </a>
            <a href="@Url.Action("Details","PublicEventsInfo", new { id = @Model.Announs.Select(a => a.Id).Skip(1).FirstOrDefault()})" class="col-md-4">
                <div class="row">
                    <h5>@Model.Announs.Select(a => a.NameEvent).Skip(1).FirstOrDefault()</h5>
                </div>
                <div class="row">
                    @if (Model.Announs.Select(a => a.PublicEventInformation).Skip(1).FirstOrDefault() != null)
                    {
                        <img class="col-md-12" src="@Url.Content(@Model.Announs.Select(a => a.PublicEventInformation.SmallFoto.Path).Skip(1).FirstOrDefault())">
                    }
                </div>
                <div class="row">
                    @if (Model.Announs.Select(a => a.PublicEventInformation).Skip(1).FirstOrDefault() != null)
                    {
                        <h4 class="col-md-12 wrappedtext">@Model.Announs.Select(a => a.PublicEventInformation.TextForDetailsView).Skip(1).FirstOrDefault()</h4>
                    }
                </div>
            </a>
            <a href="@Url.Action("Details","PublicEventsInfo", new { id = @Model.Announs.Select(a => a.Id).Skip(2).FirstOrDefault()})" class="col-md-4">
                <div class="row">
                    <h5>@Model.Announs.Select(a => a.NameEvent).Skip(2).FirstOrDefault()</h5>
                </div>
                <div class="row">
                    <img class="row" src="@Url.Content( @Model.Announs.Select(a => a.PublicEventInformation.SmallFoto.Path).Skip(2).FirstOrDefault())">
                </div>
                <div class="row">
                    <p>@Model.Announs.Select(a => a.PublicEventInformation.TextForDetailsView).Skip(2).FirstOrDefault()</p>
                </div>
            </a>
        </div>
</div>
<div class="col-md-12">
    <a class="headerNewsMainPage" href="@Url.Action("NewsBoard","News", new { newsRubricId = Model.Interviews.Select(n => n.ObjectNews.ListObjectNewsNewsRubric.Where(nn => nn.NewsRubric.Name == "Интервью").Select(nn => nn.NewsRubricId).FirstOrDefault()).FirstOrDefault()})"><h3>ИНТЕРВЬЮ</h3></a>
        <hr />
        <div class="row">
            <a href="@Url.Action("Details","News", new { id = @Model.Interviews.Select(n => n.ObjectNews.Id).FirstOrDefault() })" class="row">
                <div class="col-md-6">
                    <img class="col-md-8" src="@Url.Content( @Model.Interviews.Select(i => i.ObjectNews.MainImage).FirstOrDefault())">
                </div>
                <div class="col-md-6">
                    <h4>@Model.Interviews.Select(i => i.ObjectNews.Title).FirstOrDefault()</h4>
                    @Model.Interviews.Select(i => i.ObjectNews.Text).FirstOrDefault()
                    <p style="color:lightgray">@Model.Interviews.Select(i => i.ObjectNews.UpdateDateTime).FirstOrDefault()</p>
                </div>
            </a>
            <a href="@Url.Action("Details","News", new { id = @Model.Interviews.Select(n => n.ObjectNews.Id).Skip(1).FirstOrDefault() })"  class="row">
                <div class="col-md-6">
                    <img class="col-md-8" src="@Url.Content( @Model.Interviews.Select(i => i.ObjectNews.MainImage).Skip(1).FirstOrDefault())">
                </div>
                <div class="col-md-6">
                    <h4>@Model.Interviews.Select(i => i.ObjectNews.Title).Skip(1).FirstOrDefault()</h4>
                    @Model.Interviews.Select(i => i.ObjectNews.Text).Skip(1).FirstOrDefault()
                    <p style="color:lightgray">@Model.Interviews.Select(i => i.ObjectNews.UpdateDateTime).FirstOrDefault()</p>
                </div>
            </a>
        </div>
</div>
<div class="col-md-12">
    <a class="headerNewsMainPage" href="@Url.Action("NewsBoard","News", new { newsRubricId = Model.Blogs.Select(n => n.ObjectNews.ListObjectNewsNewsRubric.Where(nn => nn.NewsRubric.Name == "Блог").Select(nn => nn.NewsRubricId).FirstOrDefault()).FirstOrDefault()})"><h3>БЛОГ</h3></a>
        <hr />
        <div class="row">
            <div class="col-md-4">
                <a href="@Url.Action("Details","News", new { id = @Model.Blogs.Select(n => n.ObjectNews.Id).Skip(1).FirstOrDefault() })"  class="col-md-12">
                    <div class="col-md-4">
                        <img class="col-md-12" src="@Url.Content( @Model.Blogs.Select(n => n.ObjectNews.HomePageImage).Skip(1).FirstOrDefault())">
                    </div>
                    <div class="col-md-8">
                        <p style="font-weight: bold">@Model.Blogs.Skip(1).Select(n => n.ObjectNews.Title).FirstOrDefault()</p>
                        <div style="color:lightgray">@Model.Blogs.Skip(1).Select(n => n.ObjectNews.UpdateDateTime).FirstOrDefault()</div>
                    </div>
                </a>
                <a href="@Url.Action("Details","News", new { id = @Model.Blogs.Select(n => n.ObjectNews.Id).Skip(2).FirstOrDefault() })" class="col-md-12">
                    <div class="col-md-4">
                        <img class="col-md-12" src="@Url.Content( @Model.Blogs.Select(n => n.ObjectNews.HomePageImage).Skip(2).FirstOrDefault())">
                    </div>
                    <div class="col-md-8">
                        <p style="font-weight: bold">@Model.Blogs.Skip(2).Select(n => n.ObjectNews.Title).FirstOrDefault()</p>
                        <div style="color:lightgray">@Model.Blogs.Skip(2).Select(n => n.ObjectNews.UpdateDateTime).FirstOrDefault()</div>
                    </div>
                </a>
                <a href="@Url.Action("Details","News", new { id = @Model.Blogs.Select(n => n.ObjectNews.Id).Skip(3).FirstOrDefault() })" class="col-md-12">
                    <div class="col-md-4">
                        <img class="col-md-12" src="@Url.Content( @Model.Blogs.Select(n => n.ObjectNews.HomePageImage).Skip(3).FirstOrDefault())">
                    </div>
                    <div class="col-md-8">
                        <p style="font-weight: bold">@Model.Blogs.Skip(3).Select(n => n.ObjectNews.Title).FirstOrDefault()</p>
                        <div style="color:lightgray">@Model.Blogs.Skip(3).Select(n => n.ObjectNews.UpdateDateTime).FirstOrDefault()</div>
                    </div>
                </a>
                <a href="@Url.Action("Details","News", new { id = @Model.Blogs.Select(n => n.ObjectNews.Id).Skip(4).FirstOrDefault() })" class="col-md-12">
                    <div class="col-md-4">
                        <img class="col-md-12" src="@Url.Content( @Model.Blogs.Select(n => n.ObjectNews.HomePageImage).Skip(4).FirstOrDefault())">
                    </div>
                    <div class="col-md-8">
                        <p style="font-weight: bold">@Model.Blogs.Skip(4).Select(n => n.ObjectNews.Title).FirstOrDefault()</p>
                        <div style="color:lightgray">@Model.Blogs.Skip(4).Select(n => n.ObjectNews.UpdateDateTime).FirstOrDefault()</div>
                    </div>
                </a>
            </div>
            <a href="@Url.Action("Details","News", new { id = @Model.Blogs.Select(n => n.ObjectNews.Id).FirstOrDefault() })" class="col-md-8 image">
                <img class="col-md-8" src="@Url.Content( @Model.Blogs.Select(n => n.ObjectNews.MainImage).FirstOrDefault())">
                <h4 class="titleimage">@Model.Blogs.Select(n => n.ObjectNews.Title).FirstOrDefault()</h4>
            </a>
        </div>
</div>