@model PagedList.IPagedList<RSC.Models.NewsViewModels.DetailsNewsViewModel>
@using PagedList.Mvc;

@foreach (var item in Model)
{
    <div class="col-md-6 blocknews" >
        <div class="borderblock col-md-12">
            <div class="col-md-4 imagenews" style="background-image: url(@Url.Content(item.MainImagePath))"></div>
            <div class="col-md-8">
                <p>@Html.DisplayFor(modelItem => item.Title)</p>
                <p>@Html.DisplayFor(modelItem => item.CreateDateTime)</p>
                <a href="@Url.Action("Details","News", new { id = @item.Id })">Читать далее</a>
            </div>
        </div>
    </div>
}

<br />
@*Страница @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) из @Model.PageCount*@

@Html.PagedListPager(Model, page => Url.Action("GetNewsByRubricId", new { page }))