@model RSC.Controllers.Models.PRDSOViewModels.CreatePRDSOViewModel
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .paddingcontent {
        padding-top: 20px;
    }
</style>
<h2>Создать</h2>
<h4>ПРДСО</h4>
<hr />
<div class="row">
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#oovo" aria-controls="oovo" role="tab" data-toggle="tab">Сведения об ООВО</a></li>
        <li role="presentation"><a href="#headoovo" aria-controls="headoovo" role="tab" data-toggle="tab">Руководитель ООВО</a></li>
        <li role="presentation"><a href="#ap" aria-controls="ap" role="tab" data-toggle="tab">Уполномоченное лицо</a></li>
        <li role="presentation"><a href="#headco" aria-controls="headco" role="tab" data-toggle="tab">Руководитель СО </a></li>
        <li role="presentation"><a href="#bank" aria-controls="bank" role="tab" data-toggle="tab">Банковские реквизиты  </a></li>
    </ul>

    <div class="col-md-6 paddingcontent">
        @using (Html.BeginForm())
        {
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="oovo">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label asp-for="OGRN" class="control-label"></label>
                            <input asp-for="OGRN" class="form-control" />
                            <span asp-validation-for="OGRN" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="INN" class="control-label"></label>
                            <input asp-for="INN" class="form-control" />
                            <span asp-validation-for="INN" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="OKPO" class="control-label"></label>
                            <input asp-for="OKPO" class="form-control" />
                            <span asp-validation-for="OKPO" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="KPP" class="control-label"></label>
                            <input asp-for="KPP" class="form-control" />
                            <span asp-validation-for="KPP" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="UrAddress" class="control-label"></label>
                            <input asp-for="UrAddress" class="form-control" />
                            <span asp-validation-for="UrAddress" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="MailAddress" class="control-label"></label>
                            <input asp-for="MailAddress" class="form-control" />
                            <span asp-validation-for="MailAddress" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="WebSite" class="control-label"></label>
                            <input asp-for="WebSite" class="form-control" />
                            <span asp-validation-for="WebSite" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="StudentsCount" class="control-label"></label>
                            <input asp-for="StudentsCount" class="form-control" />
                            <span asp-validation-for="StudentsCount" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="headoovo">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label asp-for="Surname" class="control-label"></label>
                            <input asp-for="Surname" class="form-control" />
                            <span asp-validation-for="Surname" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Name" class="control-label"></label>
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="MiddleName" class="control-label"></label>
                            <input asp-for="MiddleName" class="form-control" />
                            <span asp-validation-for="MiddleName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Position" class="control-label"></label>
                            <input asp-for="Position" class="form-control" />
                            <span asp-validation-for="Position" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Fax" class="control-label"></label>
                            <input asp-for="Fax" class="form-control" />
                            <span asp-validation-for="Fax" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Email" class="control-label"></label>
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="ap">
                    <div class="col-md-12">
                        @Html.HiddenFor(model => model.UniversityViewModel.Id)
                        <div class="form-group">
                            @Html.LabelFor(model => model.UniversityViewModel.Surname)
                            @Html.EditorFor(model => model.UniversityViewModel.Surname, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.UniversityViewModel.Surname)
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.UniversityViewModel.Name)
                            @Html.EditorFor(model => model.UniversityViewModel.Name, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.UniversityViewModel.Name)
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.UniversityViewModel.MiddleName)
                            @Html.EditorFor(model => model.UniversityViewModel.MiddleName, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.UniversityViewModel.MiddleName)
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.UniversityViewModel.JobPhoneNumber)
                            @Html.EditorFor(model => model.UniversityViewModel.JobPhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.UniversityViewModel.JobPhoneNumber)
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.UniversityViewModel.Fax)
                            @Html.EditorFor(model => model.UniversityViewModel.Fax, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.UniversityViewModel.Fax)
                        </div>
                        @Html.HiddenFor(model => model.UniversityViewModel.RegionId)
                        @Html.HiddenFor(model => model.UniversityViewModel.UniversityDataId)
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="headco">
                    <div class="form-group col-md-12">
                        <div class="form-group">
                            <select id="StudentsCouncilViewModel_Id" name="StudentsCouncilViewModel.Id" class="form-control">
                                @foreach (var item in @Model.StudentCouncils)
                                {
                                    <option value="@item.Id">@item.Surname @item.Name @item.MiddleName</option>
                                }
                            </select>
                        </div>

                        <div class="form-group">
                            <div class="checkbox">
                                <label data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                    @Html.CheckBoxFor(model => model.CreateStudentCouncil) Не нашел, хочу зарегистрировать сам.
                                </label>
                            </div>
                        </div>
                        <div id="collapseOne" aria-expanded="false" class="collapse">
                            <div class="form-group">
                                @Html.LabelFor(model => model.StudentsCouncilViewModel.Surname)
                                @Html.EditorFor(model => model.StudentsCouncilViewModel.Surname, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.StudentsCouncilViewModel.Surname)
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.StudentsCouncilViewModel.Name)
                                @Html.EditorFor(model => model.StudentsCouncilViewModel.Name, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.StudentsCouncilViewModel.Name)
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.StudentsCouncilViewModel.MiddleName)
                                @Html.EditorFor(model => model.StudentsCouncilViewModel.MiddleName, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.StudentsCouncilViewModel.MiddleName)
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.StudentsCouncilViewModel.JobPhone)
                                @Html.EditorFor(model => model.StudentsCouncilViewModel.JobPhone, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.StudentsCouncilViewModel.JobPhone)
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.StudentsCouncilViewModel.MobilePhone)
                                @Html.EditorFor(model => model.StudentsCouncilViewModel.MobilePhone, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.StudentsCouncilViewModel.MobilePhone)
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.StudentsCouncilViewModel.Fax)
                                @Html.EditorFor(model => model.StudentsCouncilViewModel.Fax, new { htmlAttributes = new { @class = "form-control"} })
                                @Html.ValidationMessageFor(model => model.StudentsCouncilViewModel.Fax)
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.StudentsCouncilViewModel.Email)
                                @Html.EditorFor(model => model.StudentsCouncilViewModel.Email, new { htmlAttributes = new { @class = "form-control", @type = "email" } })
                                @Html.ValidationMessageFor(model => model.StudentsCouncilViewModel.Email)
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.StudentsCouncilViewModel.Password)
                                @Html.EditorFor(model => model.StudentsCouncilViewModel.Password, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.StudentsCouncilViewModel.ConfirmPassword)
                                @Html.EditorFor(model => model.StudentsCouncilViewModel.ConfirmPassword, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="bank">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label asp-for="BankINN" class="control-label"></label>
                            <input asp-for="BankINN" class="form-control" />
                            <span asp-validation-for="BankINN" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="BankKPP" class="control-label"></label>
                            <input asp-for="BankKPP" class="form-control" />
                            <span asp-validation-for="BankKPP" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="BankName" class="control-label"></label>
                            <input asp-for="BankName" class="form-control" />
                            <span asp-validation-for="BankName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="CheckingAccount" class="control-label"></label>
                            <input asp-for="CheckingAccount" class="form-control" />
                            <span asp-validation-for="CheckingAccount" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="CorrespondentAccount" class="control-label"></label>
                            <input asp-for="CorrespondentAccount" class="form-control" />
                            <span asp-validation-for="CorrespondentAccount" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="BICCode" class="control-label"></label>
                            <input asp-for="BICCode" class="form-control" />
                            <span asp-validation-for="BICCode" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        }
    </div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
