@model RSC.Controllers.Models.CoProfileViewModels.CoProfileViewModel
@{
    ViewData["Title"] = "Личный кабинет СО";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/pg-calendar-master/dist/css/pignose.calendar.min.css" />
<style>
    .pignose-calendar {
        width: 100%;
        max-width: 600px;
        border:none;
        box-shadow: none;
    }


    .infobycalendar {
        width: 320px;
        left: 50%;
        margin-left: -60px;
        background-color: white;
        color: black;
        border: solid 1px;
        text-align: center;
        border-radius: 6px;
        padding: 5px 0;
        /* Position the tooltip */
        position: absolute;
        z-index: 1;
    }

    #eventDetails {
        background-color: rgb(229,111,52) !important;
        color: white !important;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5) !important;
    } 
    .infobycalendar-block {
        background-color: white;
    }
    
    
    .comain {
        padding-left: 0px;
        padding-right: 0px;
    } .coheader {
        
        min-height: 80px;
          background: linear-gradient(to right, #5ca4c2, #4674a3 98%) 0 0 no-repeat;
    }


    .coheader-links {
        padding-right: 50px;
    }
    .coheader-links h3{
        padding-top: 15px;
        padding-right: 30px;
        color: white;
        font-size: 14px;
        font-weight: 500;

    }
    .coinfo {
        padding-top:7%;
        padding-bottom:7%;
    }

    .pg-main {
        padding-top: 40px;
        min-height: 800px;
        background: url(../../img/pdrso-dots.png) 0px 0px no-repeat,linear-gradient(to right, #e55727 9%, #e21c25) 0 0 no-repeat;
        background: url(../../img/pdrso-dots.png) 0px 0px no-repeat,-webkit-linear-gradient(left, #e55727 9%, #e21c25) 0 0 no-repeat;
        background: url(../../img/pdrso-dots.png) 0px 0px no-repeat,-moz-linear-gradient(right, #e55727 9%, #e21c25) 0 0 no-repeat;
        background: url(../../img/pdrso-dots.png) 0px 0px no-repeat,-ms-linear-gradient(left, #e55727 9%, #e21c25) 0 0 no-repeat;
        background: url(../../img/pdrso-dots.png) 0px 0px no-repeat,-o-linear-gradient(right, #e55727 9%, #e21c25) 0 0 no-repeat;
        background: url(../../img/pdrso-dots.png) 0px 0px no-repeat,linear-gradient(to right, #e55727 9%, #e21c25) 0 0 no-repeat;
    }

    .info-blocks {
        padding-left: 0px;
        padding-right: 0px;        
    }

    .one-info-block {
        padding-left: 0px;
        padding-right: 0px;
        background-color: white;
        height: 350px;
    }

    .so-block-header-title {
        font-family: 'Geometria','Open Sans','helvetica','sans-serif';
        padding-top: 10%;
        font-size: 18px;
        color: whitesmoke;
        padding-left: 12%;
        font-weight:bolder;
    }

    .so-block-content-text {
        font-family: 'Geometria','Open Sans','helvetica','sans-serif';
        padding-top: 3%;
        font-size: 12px;
        color: whitesmoke;
        padding-left: 12%;
        font-weight: bold;
    }

    .so-block-left-header-title {
        font-family: 'Geometria','Open Sans','helvetica','sans-serif';
        padding-top: 8%;
        font-size: 18px;
        color: whitesmoke;
        padding-left: 12%;
        font-weight: bolder;
    }

    .so-block-left-content-title {
        font-family: 'Geometria','Open Sans','helvetica','sans-serif';
        padding-top: 3%;
        font-size: 12px;
        color: whitesmoke;
        padding-left: 12%;
        font-weight: bolder;
    }

    .oib-links {
        padding-left: 15%;
    }
    
    .oib-links ul {
    }

    .oib-links li{
        
    }
    
    .oib-studstarter {
        background-color:palevioletred;
    }

    .oib-co-members {
        background-color:slateblue;
    }

    .oib-students {
    }

    .oib-students h2 {

    }

    .oib-events {
        background-color: aqua;
    }


    .oib-prdso {
        background-color: cadetblue;
    }


    .links-block {
        text-align:center
    }

        .links-block h2 {
            font-family: 'Geometria','Open Sans','helvetica','sans-serif';
            padding-top: 3%;
            font-size: 18px;
            font-weight: bolder;
        }

    .cal-filters {
        padding-left: 10px;
        padding-right: 10px;
        min-height: 450px;
        background-color: #fff;
        font-size: 100%;
        margin: 0 auto;
        border-left: solid 3px rgb(240,240,240);
    }

    .active {
        background-color: rgb(229,111,52);
        color: white;
    }

    .detailsbutton{
        width:150px;
        text-align: center;
        position:center;
    }

    .pignose-calendar-top{
        border: none !important;
        box-shadow: none !important;
        background: none !important;
    }
    
    .pignose-calendar .pignose-calendar-unit.pignose-calendar-unit-active a {
        background-color: rgb(229,111,52);
        color: #ffffff !important;
        font-weight: 600;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
    }

    .pignose-calendar-button-schedule-pin {
        background-color: rgb(229,111,52) !important;
    }


    .pignose-calendar-week-sat {
        color: black !important;
    }

    .pignose-calendar-week-sun {
        color: black !important;
    }
    
    
    
    .pignose-calendar .pignose-calendar-unit a {
        color: black;
        font-weight: bold;
    }

    .pignose-calendar-unit-sat a {
        color: black !important;
    }

    .pignose-calendar-unit-sat a {
        color: black !important;
    }    
    
    .pignose-calendar-unit-sun a {
        color: black !important;
    }

    .eventdirection {
        box-shadow: none;
        border: none;
        margin-top: 3px;
        padding-top: 5px;
        padding-left: 13px;
        padding-right: 13px;
        padding-bottom: 5px;
        border-radius: 20px;
        font-size: 12px;
        font-weight: bold;
        font-family: 'Geometria','Open Sans','helvetica','sans-serif';
    }

    .so-profile-block-title {
        font-family: 'Geometria','Open Sans','helvetica','sans-serif';
        padding-bottom:10px;
    }

    .padding-content-header-title{
        padding-left:15%;
    }

    .file-row-style {
        position: relative;
        cursor: pointer;
        padding-left:20%;
        padding-right:20%;
        padding-top:3%;
        padding-bottom:3%;
    }
        .file-row-style:hover {
            background-color: rgb(240,240,240);
        }
    .custom-file-upload {
        width: 200px;
        display: inline-block;
        cursor: pointer;
    }

    input[type="file"] {
        visibility: hidden;
    }
</style>

<div class="comain col-md-12">
    <div class="coheader col-md-12">
        <div style="float: right;" class="coheader-links">
        <h3 style="display: inline-block"><a href="@Url.Action("Index","Profile")" style="color:white;">Заявка</a></h3>
        <h3 style="display: inline-block">Представитель СО</h3>
        <h3 style="display: inline-block">@Model.StudentCouncil.Name @Model.StudentCouncil.Surname</h3>
            <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" style=" display: inline-block;">
                <button class="btn-red" style="margin-left:20px; margin-top:10px; padding-left: 20px; padding-right: 20px; padding-top: 3px; padding-bottom: 3px;" type="submit">ВЫЙТИ</button>
            </form>        
        </div>

    </div>

    <div class="coinfo col-md-12">
        <div class="col-md-2" style="text-align:right;">
            <img style="height:180px;" src="~/img/raiting.jpg" alt="rating">
        </div>
        <div class="col-md-2" style="display:flex; flex-direction:column; justify-content:space-between;">
            <h4>Ваши результаты:</h4>
            <h4>По РФ - 21</h4>
            <h4>По ФО - 11</h4>
            <h4>По Региону - 3</h4>
            <h4>По ПРДСО - 72</h4>
        </div>
        <div class="col-md-6" style="padding-left:60px; text-align:left;">
            
            <h4 style="font-weight:bold;">@Model.StudentCouncil.UniversityData.UniversityName</h4>
            <div style="padding-top:10px; padding-bottom:10px;">
                <a href="@Model.StudentCouncil.UniversityData.UniversityWebSite">@Model.StudentCouncil.UniversityData.UniversityWebSite</a>
            </div>
            <p>@Model.StudentCouncil.UniversityData.UniversityAddress</p> 
            <p><i class="fa fa-phone " aria-hidden="true"></i><span style="padding-left:8px;">@Model.StudentCouncil.JobPhone</span></p>
        </div>
        <div class="col-md-2"></div>
    </div>

    <div class="pg-main col-md-12">
        <div class="col-md-12"style="padding-top:10%; padding-left: 10%;">
            <div class="pgcalendar col-md-6" style="padding-left: 0px; padding-right: 0px; width:400px;"></div>
            <div class="cal-filters col-md-6">
                <div class="col-md-12">
                    <p style="font-family: 'Geometria','Open Sans','helvetica','sans-serif'; font-weight: bold; border:none; min-height:20px;padding-top: 30px; padding-left: 25px; text-align:left;">Фильтр:</p>
                </div>
                <div class="col-md-12" style="display:flex; justify-content:space-between; flex-direction:column;">
                    @for (var i = 0; i < @Model.EventDirections.Count(); i = i + 2)
                    {
                        <div style="display:flex;justify-content:flex-start; flex-direction:row;">
                            <div class="col-md-6">
                                <p class="eventdirection" type="button" style="" data-directionid="@Model.EventDirections[i].Id">@Model.EventDirections[i].Name</p>
                            </div>
                            @if ((i+1) < @Model.EventDirections.Count())
                            {
                                <div class="col-md-6">
                                    <p class="eventdirection" type="button" style="" data-directionid="@Model.EventDirections[i + 1].Id">@Model.EventDirections[i + 1].Name</p>
                                </div>
                            }
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>

    <div class="info-blocks col-md-12">
        <div class="col-md-12 paddingside-zero" >
            <div class="col-md-5 paddingside-zero">
                <div class="one-info-block padding-content-header-title so-profile-lefblock-title oib-students col-md-12">
                    <h2 class="so-block-left-header-title" style="color:black;">Ссылки:</h2>
                    <ul class="so-block-content-text" style="color:black;">
                        <li>Студенческий информационный центр</li>
                        <li>Объединенный совет обучающихся</li>
                        <li>Центр Карьеры</li>
                        <li>Официальный канал<br />в YouTube</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-7 paddingside-zero">
                <div class="one-info-block  oib-studstarter col-md-6 paddingside-zero" style="background: url('/img/studstarter.jpg') no-repeat;background-size:cover; background-position: center center; -webkit-box-shadow: inset 10px 10px 300px -11px rgba(0,0,0,0.82);
-moz-box-shadow: inset 10px 10px 300px -11px rgba(0,0,0,0.82); box-shadow: inset 10px 10px 300px -11px rgba(0,0,0,0.82);">
                    <h2 class="so-block-header-title ">Студстартер</h2>
                    <p class="so-block-content-text">Министерство образования РФ<br />готовит масштабный ребрендинг<br />российского студенческого центра<br />"Росстуденчество"</p>
                </div>
                <a href="@Url.Action("Index","CoMembers")" class="one-info-block oib-co-members col-md-6 paddingside-zero" style="background: url('/img/sopeople.jpg') no-repeat;background-size:cover; background-position: center center; -webkit-box-shadow: inset 10px 10px 300px -11px rgba(0,0,0,0.82);
-moz-box-shadow: inset 10px 10px 300px -11px rgba(0,0,0,0.82); box-shadow: inset 10px 10px 300px -11px rgba(0,0,0,0.82);">
                    <h2 class="so-block-header-title ">Члены совета<br />обучающихся</h2>
                    <p class="so-block-content-text">Министерство образования РФ<br />говорит масштабный ребрединг<br />россйского студентческого центра<br />"Росстуденчество"</p>
                </a>
            </div>
        </div>
        <div class="col-md-12 paddingside-zero" >
            <div class="col-md-5  paddingside-zero">
                <a href="@Url.Action("Students","CO")" class="one-info-block padding-content-header-title so-profile-lefblock-title oib-students col-md-12 paddingside-zero" style="background: url('/img/students.jpg') no-repeat;background-size:cover; background-position: center center; -webkit-box-shadow: inset 10px 10px 300px -11px rgba(0,0,0,0.82);
-moz-box-shadow: inset 10px 10px 300px -11px rgba(0,0,0,0.82); box-shadow: inset 10px 10px 300px -11px rgba(0,0,0,0.82);">
                    <h2 class="so-block-left-header-title">Студенты</h2>
                    <p class="so-block-left-content-title">В данном разделе предоставлен список<br />активных студентов</p>
                </a>
            </div>
            <div class="col-md-7  paddingside-zero">
                <a href="@Url.Action("PrdsoEvents","CO")"  class="one-info-block oib-events col-md-6  paddingside-zero" style="background: url('/img/meropriyatia.jpg') no-repeat;background-size:cover; background-position: center center;-webkit-box-shadow: inset 10px 10px 300px -11px rgba(0,0,0,0.82);
-moz-box-shadow: inset 10px 10px 300px -11px rgba(0,0,0,0.82); box-shadow: inset 10px 10px 300px -11px rgba(0,0,0,0.82);">
                    <h2 class="so-block-header-title ">Мероприятия</h2>
                    <p class="so-block-content-text">Короткое описание о том,<br />какие проводяться мероприятия</p>
                </a>
                <a href="/about/aboutprdso" class="one-info-block oib-prdso col-md-6  paddingside-zero" style="background: url('/img/onevent.jpg') no-repeat;background-size:cover; background-position: center center;-webkit-box-shadow: inset 10px 10px 300px -11px rgba(0,0,0,0.82);
-moz-box-shadow: inset 10px 10px 300px -11px rgba(0,0,0,0.82); box-shadow: inset 10px 10px 300px -11px rgba(0,0,0,0.82);">
                    <h2 class="so-block-header-title">ПРДСО</h2>
                    <p class="so-block-content-text">Короткое описание<br />о конкурсе ПРДСО</p>
                </a>
            </div>
        </div>
    </div>
    <div class="links-block col-md-12">
        <h2>Документы самоуправления</h2>
        <div class="col-md-12" style="padding-top:30px;">
            @foreach (var file in Model.Files)
            {
                <div class="col-md-12 file-row-style" style="">
                    <div class="col-md-12">
                        <div class="col-md-2">
                            <i class="fa fa-file-text-o fa-2x" style="color:crimson" aria-hidden="true"></i>
                        </div>
                        <div class="col-md-8" style="text-align:left;">
                            @file.File.Name
                        </div>
                        <div class="col-md-2">
                            <a href="@file.File.Path" download>Скачать</a>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div>
            <form asp-action="AddFile" asp-controller="CO" method="post" enctype="multipart/form-data">
                <div class="col-md-12 file-row-style">
                    <label for="file-upload" class="custom-file-upload">
                        <span style="padding-top:3px;">
                            <i class="fa fa-upload fa-2x" aria-hidden="true" style="color:crimson"></i>
                        </span>
                        <span>
                            Выберите файл для загрузки
                        </span>
                    </label>
                    <input id="file-upload" name="uploadedFile" type="file" /> 

                    <input class="btn btn-blue" type="submit" value="Загрузить" />
                </div>
            </form>
        </div>

    </div>

</div>


<div class="dopinfa">

</div>

@section Scripts{
    <script src="~/pg-calendar-master/dist/js/pignose.calendar.full.js"></script>
    <script type="text/javascript">
        $(function() {

            var myArray = [];

            @foreach (var item in @Model.Events)
            {
                @:myArray.push({ eventid: @item.Id, name: "event", date: "@item.StartDateTime.ToString("yyyy-MM-dd")", startdatetime: "@item.StartDateTime.ToShortDateString()", stopdatetime: "@item.StopDateTime.ToShortDateString()", eventname: "@item.NameEvent" });
            }

            $('.pgcalendar').pignoseCalendar({
                lang: 'ru',
                week: 1,
                scheduleOptions: {
                    colors: {
                        event: '#2fabb7'
                    }
                },
                format: "DD.MM.YYYY",
                schedules: myArray,
                select: function (date, context) {
                    $(".infobycalendar").remove();
                    if (context.storage.schedules.length > 0) {
                        var messageAboutEvent = "";
                        messageAboutEvent += "<div class='infobycalendar'>";
                        for (var i = 0; i < context.storage.schedules.length; i++) {
                            messageAboutEvent += "<p>Мероприятие: " + context.storage.schedules[i].eventname + "</p>";
                            messageAboutEvent += "<p>Дата проведения " + context.storage.schedules[i].startdatetime + "-" + context.storage.schedules[i].stopdatetime + "</p>";
                            messageAboutEvent += '<a id="eventDetails" href="/PublicEventsInfo/Details/' + context.storage.schedules[i].eventid + '" style="cursor:pointer;width: 150px;border-radius: 7%;">Подробнее</a>';
                        }
                        messageAboutEvent += "</div>";
                        $(this).append(messageAboutEvent);
                    }
                    updatelinktoEventDetails();
                }
            });

            var initcalendar = function(eventarray) {
                $('.pgcalendar').pignoseCalendar({
                    lang: 'ru',
                    week: 1,
                    scheduleOptions: {
                        colors: {
                            event: '#2fabb7'
                        }
                    },
                    format: "DD.MM.YYYY",
                    schedules: eventarray,
                    select: function(date, context) {
                        $(".infobycalendar").remove();
                        if (context.storage.schedules.length > 0) {
                            var messageAboutEvent = "";
                            messageAboutEvent += "<div class='infobycalendar'><p>Вы выбрали дату " + context.storage.schedules[0].date + "</p>";
                            for (var i = 0; i < context.storage.schedules.length; i++) {
                                messageAboutEvent += "<p>Название мероприятия " + context.storage.schedules[i].eventname + "</p>";
                                messageAboutEvent += "<p>Диапозон " + context.storage.schedules[i].startdatetime + "-" + context.storage.schedules[i].stopdatetime + "</p>";
                                messageAboutEvent += '<a id="eventDetails" href="/PublicEventsInfo/Details/' + context.storage.schedules[i].eventid + '" style="cursor:pointer;width: 150px;border-radius: 7%;">Подробнее</a>';
                            }
                            messageAboutEvent += "</div>";
                            $(this).append(messageAboutEvent);
                        }
                        updatelinktoEventDetails();
                    }
                });
            };

            var updatelinktoEventDetails = function () {
                $("#eventDetails").click(function () {
                    $(location).attr("href", $(this)[0].href);
                })
            }

            $(".eventdirection").click(function() {
                var hasClass = this.classList.contains('active');
                if (hasClass) {
                    this.classList.remove("active");;
                } else {
                    this.className += " active";
                }

                var directions = [];
                var activeFilterButtons = document.getElementsByClassName("eventdirection active");
                for (var i = 0; i < activeFilterButtons.length; i++) {
                    directions.push(activeFilterButtons[i].getAttribute('data-directionid'));
                }

                $.ajax({
                    method: "GET",
                    url: "@Url.Action("GetEventByFilter", "CO")",
                    data: { eventDirectionIds: directions },
                    datatype: "json",
                    traditional: true,
                }).success(function(res) {
                    initcalendar(res);
                }).error(function(res) {

                });
            });
        });
    </script>
}