@model RSC.Controllers.Models.CoProfileViewModels.CoProfileViewModel
@{
    ViewData["Title"] = "Личный кабинет СО";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/pg-calendar-master/dist/css/pignose.calendar.min.css" />
<style>
    .comain {
        padding-left: 0px;
        padding-right: 0px;

    } .coheader {
        
        min-height: 80px;
          background: linear-gradient(to right, #5ca4c2, #4674a3 98%) 0 0 no-repeat;
    }


    .coheader-links {
        padding-right: 50px;
    }
    .coheader-links h3{
        padding-top: 15px;
        padding-right: 30px;
        color: white;
        font-size: 14px;
        font-weight: 500;

    }
    .coinfo {
        min-height: 440px;
    }

    .pg-main {
        min-height: 800px;
        background-color: lightpink;
    }

    .info-blocks {
        padding-left: 0px;
        padding-right: 0px;
        min-height: 900px;
        
    }

    .one-info-block {
        padding-left: 0px;
        padding-right: 0px;
        background-color: aquamarine;
        height: 450px;
    }

    .oib-links {
        
    }

    .oib-links h2{
        text-align: center;
    }

        .oib-links ul {
            text-align: center;
        }

    .oib-links li{
        
    }
    
    .oib-studstarter {
        background-color:palevioletred;
    }
    .oib-studstarter h2 {
        text-align: center;
        } 
        
    .oib-co-members {
        background-color:slateblue;
    }

    .oib-co-members h2{
        text-align: center;
    }

    .oib-students {
        background-color: olive;
    }

        .oib-students h2 {
            padding-top: 15%;
            padding-left: 10%;
        }

    .oib-events {
        background-color: aqua;
    }
        .oib-events h2 {
            text-align: center;
        }



    .oib-prdso {
        background-color: cadetblue;
    }

        .oib-prdso h2 {
            text-align: center;
        }

    .links-block {
        min-height: 530px;
        background-color: lightpink;
    }

    .cal-filters {
        width: 80%;
        padding-left: 15px;
        padding-right: 15px;
        min-height: 451px;
        max-width: 360px;
        background-color: #fff;
        border: 1px solid #d8d8d8;
        font-size: 100%;
        margin: 0 auto;
        box-shadow: 0 3px 8px rgba(0,0,0,.25);
    }

    .active {
        background-color: coral;
    }

</style>

<div class="comain col-md-12">
    <div class="coheader col-md-12">
        <div style="float: right;" class="coheader-links">
        <h3 style="display: inline-block"><a href="@Url.Action("Index","Profile")" style="color:white;">Заявка</a></h3>
        <h3 style="display: inline-block">Представитель СО</h3>
        <h3 style="display: inline-block">@Model.StudentCouncil.Name @Model.StudentCouncil.Surname</h3>

            <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" style=" display: inline-block;">

                <button class="btn-red" style="margin-left:20px; margin-top:10px; padding-left: 20px; padding-right: 20px; padding-top: 3px; padding-bottom: 3px;" type="submit">ВЫЙТИ</button>
            </form>
        
        </div>

    </div>

    <div class="coinfo col-md-12">
        <div class="col-md-2"></div>
        <div class="col-md-2">
            <img src="~/img/raiting.jpg" alt="rating">
        </div>
        <div class="col-md-6">
            
            <p>@Model.StudentCouncil.UniversityData.UniversityName</p>
            <p>@Model.StudentCouncil.UniversityData.UniversityWebSite</p>
            <p>@Model.StudentCouncil.UniversityData.UniversityAddress</p> 
        </div>
        <div class="col-md-2"></div>
    </div>

    <div class="pg-main col-md-12">
        <div class="col-md-2"></div>
        <div class="pgcalendar col-md-4"></div>
        <div class="cal-filters col-md-4">
            <h4 style="font-family: 'Raleway','Open Sans','helvetica','sans-serif'; font-weight: bold">Фильтр:</h4>
            @foreach (var item in @Model.EventDirections)
            {
                <input class="eventdirection form-control" type="button" data-directionid="@item.Id" value="@item.Name"/>   
            }
        </div>
        <div id="infobycalendar">
        </div>
        <div class="col-md-2"></div>
    </div>

    <div class="info-blocks col-md-12">
        <div class="one-info-block oib-links col-md-6">
            <h2>Ссылки:</h2>
            <ul>
                <li>Ссылка один</li>
                <li>Ссылка два</li>
                <li>Ссылка три</li>
                <li>Ссылка четыре</li>
                <li>Ссылка пять</li>
            </ul>
        </div>
        <div class="one-info-block oib-studstarter col-md-3">
            <h2>Студстартер</h2>
        </div>
        <a href="@Url.Action("Index","CoMembers")" class="one-info-block oib-co-members col-md-3">
            <h2>Члены совета обучающихся</h2>
        </a>
        <a href="@Url.Action("Students","CO")" class="one-info-block oib-students col-md-6">
            <h2>Студенты</h2>
        </a>
        <div class="one-info-block oib-events col-md-3">
            <h2>Мероприятия</h2>
        </div>
        <a href="@Url.Action("PrdsoEvents","CO")" class="one-info-block oib-prdso col-md-3">
            <h2>ПРДСО</h2>
        </a>

    </div>

    <div class="links-block col-md-12">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <h2>Документы самоуправления</h2>
            
            <ul>
                @foreach (var file in Model.Files)
                {
                    <li>@file.File.Name
                        <a href="@file.File.Path" download>
                            <i class="fa fa-download"></i>Скачать
                        </a>
                    </li>
                }
            </ul>
            <h3>Выберите файл для загрузки</h3>
            <form asp-action="AddFile" asp-controller="CO" method="post" enctype="multipart/form-data">
                <input type="file" name="uploadedFile" /><br>
                <input type="submit" value="Загрузить" />
            </form>
        </div>
        <div class="col-md-3"></div>
    </div>

</div>


<div class="dopinfa">

</div>

@section Scripts{
    <script src="~/pg-calendar-master/dist/js/pignose.calendar.full.js"></script>
    <script type="text/javascript">
        $(function() {

            var myArray = [];

            @foreach (var item in @Model.Events)
            {
                @:myArray.push({ eventid: @item.Id, name: "event", date: "@item.StartDateTime.ToString("yyyy-MM-dd")", startdatetime: "@item.StartDateTime", stopdatetime: "@item.StopDateTime", eventname: "@item.NameEvent" });
            }

            $('.pgcalendar').pignoseCalendar({
                lang: 'ru',
                week: 1,
                scheduleOptions: {
                    colors: {
                        event: '#2fabb7'
                    }
                },
                format: "DD.MM.YYYY",
                schedules: myArray,
                select: function(date, context) {
                    $("#infobycalendar").html("");

                    if (context.storage.schedules.length > 0) {
                        $("#infobycalendar").append("<p>Вы выбрали дату " + context.storage.schedules[0].date + "</p>");
                        for (var i = 0; i < context.storage.schedules.length; i++) {
                            $("#infobycalendar").append("<p>Название мероприятия " +
                                context.storage.schedules[i].eventname +
                                "</p>");
                            $("#infobycalendar").append("<p>Диапозон " +
                                context.storage.schedules[i].startdatetime +
                                "-" +
                                context.storage.schedules[i].stopdatetime +
                                "</p>");
                            $("#infobycalendar").append('<a href="/PublicEventsInfo/Details/' +
                                context.storage.schedules[i].eventid +
                                '" style="cursor:pointer;width:100%">Подробнее</a>');
                        }
                    }
                }
            });

            var initcalendar = function(eventarray) {
                $('.pgcalendar').pignoseCalendar({
                    lang: 'ru',
                    week: 1,
                    scheduleOptions: {
                        colors: {
                            event: '#2fabb7'
                        }
                    },
                    format: "DD.MM.YYYY",
                    schedules: eventarray,
                    select: function(date, context) {
                        $("#infobycalendar").html("");
                        if (context.storage.schedules.length > 0) {
                            $("#infobycalendar")
                                .append("<p>Вы выбрали дату " + context.storage.schedules[0].date + "</p>");
                            for (var i = 0; i < context.storage.schedules.length; i++) {
                                $("#infobycalendar").append("<p>Название мероприятия " +
                                    context.storage.schedules[i].eventname +
                                    "</p>");
                                $("#infobycalendar").append("<p>Диапозон " +
                                    context.storage.schedules[i].startdatetime +
                                    "-" +
                                    context.storage.schedules[i].stopdatetime +
                                    "</p>");
                                $("#infobycalendar").append('<a href="/PublicEventsInfo/Details/' +
                                    context.storage.schedules[i].eventid +
                                    '" style="cursor:pointer;width:100%">Подробнее</a>');
                            }
                        }
                    }
                });
            };

            $(".eventdirection").click(function() {
                var hasClass = this.classList.contains('active');
                if (hasClass) {
                    this.classList.remove("active");;
                } else {
                    this.className += " active";
                }

                var directions = [];
                var activeFilterButtons = document.getElementsByClassName("eventdirection active");
                for (var i = 0; i < activeFilterButtons.length; i++) {
                    directions.push(activeFilterButtons[i].getAttribute('data-directionid'));
                }

                $.ajax({
                    method: "GET",
                    url: "@Url.Action("GetEventByFilter", "CO")",
                    data: { eventDirectionIds: directions },
                    datatype: "json",
                    traditional: true,
                }).success(function(res) {
                    initcalendar(res);
                }).error(function(res) {

                });
            });
        });
    </script>
}