@using RSC.Controllers.Models.AccountViewModels
@model RSC.Models.RegisterViewModels.RegisterStudentViewModel

@{
    ViewData["Title"] = "RegisterStudent";
}

<h2>Регитрация студента</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-route-returnUrl="@ViewData["ReturnUrl"]" asp-action="RegisterStudent" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>            
            <div class="form-group">
                <label asp-for="Surname" class="control-label"></label>
                <input asp-for="Surname" class="form-control" />
                <span asp-validation-for="Surname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MiddleName" class="control-label"></label>
                <input asp-for="MiddleName" class="form-control" />
                <span asp-validation-for="MiddleName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateOfBirth" class="control-label"></label>
                <input asp-for="DateOfBirth" type="date" class="form-control" />
                <span asp-validation-for="DateOfBirth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gender" class="control-label"></label>
                @Html.DropDownList("Gender", ViewBag.Ganders as SelectList, htmlAttributes: new { @class = "form-control" })
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RegionId" class="control-label"></label>
                @Html.DropDownList("RegionId", ViewBag.Regions as SelectList, htmlAttributes: new { @class= "form-control singleselect" })
                <span asp-validation-for="RegionId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryId" class="control-label"></label>
                @Html.DropDownList("CategoryId", ViewBag.Degress as SelectList, htmlAttributes: new { @class = "form-control" })
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EducationalOrganizationId" class="control-label"></label>
                @*@Html.DropDownList("EducationalOrganizationId", ViewBag.UniversityDatas as SelectList, htmlAttributes: new { @class= "form-control singleselect" })*@
                <select id="EducationalOrganizationId" name="EducationalOrganizationId" class="form-control singleselect">
                   @if (ViewBag.UniversityDatas != null)
                   {
                       foreach (UniversityDatasViewModel item in @ViewBag.UniversityDatas)
                        {
                            <option value="@item.Id">@item.Name , @item.ShortName</option>
                        }
                   }
                </select>
                <span asp-validation-for="EducationalOrganizationId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword"></label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Создать" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>
