@using RSC.Controllers.Models.AccountViewModels
@using RSC.Data.DbModels
@model RSC.Models.RegisterViewModels.RegisterStudentViewModel

<h2>Регитрация студента</h2>

<div class="row">
    <form asp-action="RegisterStudent" method="post" enctype="multipart/form-data">
        <div class="col-md-5">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ApplicationUserViewModel.Email" class="control-label"></label>
                <input asp-for="ApplicationUserViewModel.Email" class="form-control" />
                <span asp-validation-for="ApplicationUserViewModel.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApplicationUserViewModel.Surname" class="control-label"></label>
                <input asp-for="ApplicationUserViewModel.Surname" class="form-control" />
                <span asp-validation-for="ApplicationUserViewModel.Surname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApplicationUserViewModel.Name" class="control-label"></label>
                <input asp-for="ApplicationUserViewModel.Name" class="form-control" />
                <span asp-validation-for="ApplicationUserViewModel.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApplicationUserViewModel.MiddleName" class="control-label"></label>
                <input asp-for="ApplicationUserViewModel.MiddleName" class="form-control" />
                <span asp-validation-for="ApplicationUserViewModel.MiddleName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApplicationUserViewModel.Birthday" class="control-label"></label>
                <input asp-for="ApplicationUserViewModel.Birthday" type="date" class="form-control" />
                <span asp-validation-for="ApplicationUserViewModel.Birthday" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApplicationUserViewModel.Gender" class="control-label"></label>
                <select asp-for="ApplicationUserViewModel.Gender" class="form-control" asp-items="Html.GetEnumSelectList<Gender>()"></select>
                <span asp-validation-for="ApplicationUserViewModel.Gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApplicationUserViewModel.RegionId" class="control-label col-md-12"></label>
                @Html.DropDownList("ApplicationUserViewModel.RegionId", ViewBag.Regions as SelectList, htmlAttributes: new { @class = "form-control singleselect" })
                <span asp-validation-for="ApplicationUserViewModel.RegionId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UniversityDataId" class="control-label col-md-12"></label>
                <select id="UniversityDataId" name="UniversityDataId" class="form-control singleselect">
                    @if (ViewBag.UniversityDatas != null)
                    {
                        foreach (UniversityDatasViewModel item in @ViewBag.UniversityDatas)
                        {
                            <option value="@item.Id">@item.Name , @item.ShortName</option>
                        }
                    }
                </select>
                <span asp-validation-for="UniversityDataId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryId" class="control-label"></label>
                <select asp-for="ApplicationUserViewModel.Gender" class="form-control" asp-items="Html.GetEnumSelectList<Degrees>()"></select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApplicationUserViewModel.PhoneNumber" class="control-label"></label>
                <input asp-for="ApplicationUserViewModel.PhoneNumber" class="form-control" />
                <span asp-validation-for="ApplicationUserViewModel.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApplicationUserViewModel.Password" class="control-label"></label>
                <input asp-for="ApplicationUserViewModel.Password" class="form-control" />
                <span asp-validation-for="ApplicationUserViewModel.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApplicationUserViewModel.ConfirmPassword"></label>
                <input asp-for="ApplicationUserViewModel.ConfirmPassword" class="form-control" />
                <span asp-validation-for="ApplicationUserViewModel.ConfirmPassword" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Создать" class="btn btn-default" />
            </div>

        </div>
        <div class="col-md-5 pull-right">
            <div class="form-group">
                <label asp-for="ApplicationUserViewModel.AvatarFile" class="control-label"></label>
                <input asp-for="ApplicationUserViewModel.AvatarFile" class="form-control" />
                <span asp-validation-for="ApplicationUserViewModel.AvatarFile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApplicationUserViewModel.VKLink"></label>
                <input asp-for="ApplicationUserViewModel.VKLink" class="form-control" />
                <span asp-validation-for="ApplicationUserViewModel.VKLink" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApplicationUserViewModel.FacebookLink"></label>
                <input asp-for="ApplicationUserViewModel.FacebookLink" class="form-control" />
                <span asp-validation-for="ApplicationUserViewModel.FacebookLink" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApplicationUserViewModel.TwitterLink"></label>
                <input asp-for="ApplicationUserViewModel.TwitterLink" class="form-control" />
                <span asp-validation-for="ApplicationUserViewModel.TwitterLink" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApplicationUserViewModel.InstagramLink"></label>
                <input asp-for="ApplicationUserViewModel.InstagramLink" class="form-control" />
                <span asp-validation-for="ApplicationUserViewModel.InstagramLink" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApplicationUserViewModel.TelegramLink"></label>
                <input asp-for="ApplicationUserViewModel.TelegramLink" class="form-control" />
                <span asp-validation-for="ApplicationUserViewModel.TelegramLink" class="text-danger"></span>
            </div>
        </div>
    </form>
</div>
