@model RSC.Models.RegisterViewModels.Check
@{
    ViewData["Title"] = "Регистрация";
}

<h2>@ViewData["Title"]</h2>

<div class="row">
    <div>

        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#student" aria-controls="student" role="tab" data-toggle="tab">Студент</a></li>
            <li role="presentation"><a href="#studentCouncil" aria-controls="studentCouncil" role="tab" data-toggle="tab">СО</a></li>
            <li role="presentation"><a href="#university" aria-controls="university" role="tab" data-toggle="tab">ООВО</a></li>
            <li role="presentation"><a href="#assessor" aria-controls="assessor" role="tab" data-toggle="tab">Эксперт</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="student">@Html.Partial("RegisterStudent")</div>
            <div role="tabpanel" class="tab-pane" id="studentCouncil">@Html.Partial("RegisterStudentCouncil")</div>
            <div role="tabpanel" class="tab-pane" id="university">@Html.Partial("RegisterUniversity")</div>
            <div role="tabpanel" class="tab-pane" id="assessor">@Html.Partial("RegisterAssessor")</div>
        </div>

    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
