@model string
@{
    ViewData["Title"] = "Регистрация";
}
<link rel="stylesheet" href="~/bootstrap-multiselect/css/bootstrap-multiselect.css" type="text/css" />

<div class="row" style="padding-top:20px;">
    <div>
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#student" aria-controls="student" role="tab" data-toggle="tab">Студент</a></li>
            <li role="presentation"><a href="#studentCouncil" aria-controls="studentCouncil" role="tab" data-toggle="tab">СО</a></li>
            <li role="presentation"><a href="#university" aria-controls="university" role="tab" data-toggle="tab">ООВО</a></li>
            <li role="presentation"><a href="#assessor" aria-controls="assessor" role="tab" data-toggle="tab">Эксперт</a></li>
        </ul>

        @Html.Partial("/Views/Shared/_StatusMessage.cshtml", @Model)

        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="student">@Html.Partial("RegisterStudent")</div>
            <div role="tabpanel" class="tab-pane" id="studentCouncil">@Html.Partial("RegisterStudentCouncil")</div>
            <div role="tabpanel" class="tab-pane" id="university">@Html.Partial("RegisterUniversity")</div>
            <div role="tabpanel" class="tab-pane" id="assessor">@Html.Partial("RegisterAssessor")</div>
        </div>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
    <script type="text/javascript" src="~/bootstrap-multiselect/js/bootstrap-multiselect.js"></script>
    <script>
        $(".singleselect").multiselect({
            maxHeight: 200,
            buttonWidth: '400px',
            enableFiltering: true,
            enableCaseInsensitiveFiltering: true,
            filterPlaceholder: 'Поиск',
            buttonText: function (options, select) {
                if (options.length === 0) {
                    return 'Ничего не выбранно';
                }
                else if (options.length > 1) {
                    return 'Выбранно больше 1 элемента';
                }
                else {
                    var labels = [];
                    options.each(function () {
                        if ($(this).attr('label') !== undefined) {
                            labels.push($(this).attr('label'));
                        }
                        else {
                            labels.push($(this).html());
                        }
                    });
                    return labels.join(', ') + '';
                }
            }
        });
    </script>
}
