@model RSC.Models.HomeViewModels.HomeIndexViewModel

@{
    ViewData["Title"] = "Росстудцентр";
}


<div class="slider col-md-12">   
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        </ol>
        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <div class="carimg" style="background-image: url('/img/slider2.jpg');">
                    @*<div class="tag">
                <div class="col-md-12">
                    <div class="col-md-4"><i class="fa fa-rocket fa-5x"></i></div>
                    <div class="col-md-8 tag-text"><h1>Студстартер</h1>
                        <a href="" class="btn-transparent">ПОЕХАЛИ</a></div>
                </div>



            </div>*@
                    @*<img src="img/slider2.jpg" alt="">*@
                </div>
                <div class="carousel-caption">
                </div>
            </div>
            <div class="item">
                <div class="carimg" style="background-image: url('/img/slider3.jpg');">
                    @*<img src="img/slider3.jpg" alt="">*@
                </div>
                <div class="carousel-caption">
                </div>
            </div>
            <div class="item">
                <div class="carimg" style="background-image: url('/img/slider1.jpg');">
                    @*<img src="img/slider1.jpg" alt="">*@
                </div>
                <div class="carousel-caption">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="calendar col-md-12">
    
        
        <h2>Календарь</h2>
        <h3>Единый календарь</h3>
        <div class="tags">
            <img src="img/tags.png" alt="">
        </div>
        <div class="calendar-buttons">
            <a href="" class="btn-red">НАЙДИ СВОЕ</a>
        </div>
    
</div>


<div class="studstarter col-md-12">    
    
        <h2>Студстартер</h2>
        <h3>Студенческая краудсорсинговая платформа</h3>
        <div class="rounds col-md-12">
            <div class="col-md-4">
                <img src="img/round1.png" alt="">
            </div>
            <div class="col-md-4">
                <img src="img/round2.png" alt="">
            </div>
            <div class="col-md-4">
                <img src="img/round3.png" alt="">
            </div>
            <div class="studstarter-buttons col-md-12">
                <a href="" class="btn-blue">ПРЕДЛОЖИТЬ РЕСУРС</a>
            </div>
        </div>
    
</div>

<div class="prdso col-md-12">
    <div class="col-md-6 col-xs-12 prdso-banner">
        <h1>Конкурс ПРДСО</h1>
        <p class="hidden-xs hidden-sm">
            Программа повышения эффективности реализации
            Конкурса программ развития деятельности
            студенческих объединений и внеучебной деятельности
            образовательных организаций высшего образования.
        </p>
        <div class="news-buttons">
            <a href="/about/aboutprdso" class="btn-red">ПОДРОБНЕЕ</a>
        </div>
    </div>
    <div class="col-md-3 col-xs-12 one-prdso-block">
        <h5>Дата проведения 17.09.17</h5>
        <h3>Наука и инновации</h3>
        <h4><<студенческий совет>></h4>
    </div>
    <div class="col-md-3 col-xs-6 one-prdso-block">
        <h5>Дата проведения 17.09.17</h5>
        <h3>Спорт и ЗОЖ</h3>
        <h4><<студенческий совет>></h4>
    </div>
    <div class="col-md-6 col-xs-6 one-prdso-block">
        <h5>Дата проведения 17.09.17</h5>
        <h3>Культура и творчество</h3>
        <h4><<студенческий совет>></h4>
    </div>
    @*<div class="col-md-3 one-prdso-block">
        <h3>
            Профессиональные
            компетенции
        </h3>
    </div>*@    
    <div class="col-md-3 hidden-xs hidden-sm one-prdso-block">
        <h5>Дата проведения 17.09.17</h5>
        <h3>Профессиональные
            компетенции</h3>
        <h4><<студенческий совет>></h4>
    </div>
    <div class="col-md-3 hidden-xs hidden-sm one-prdso-block">
        <h5>Дата проведения 17.09.17</h5>
        <h3>Предпринимательство</h3>
        <h4><<студенческий совет>></h4>
    </div>
</div>


<div class="poll-block col-md-12">    
    
        <h2>ОПРОСЫ</h2>
        <h3>Социологическая мастерская</h3>
        <div class="poll-main col-md-12">
            <div class="col-md-4  hidden-xs hidden-sm">
                <div class="poll-item  hidden-xs hidden-sm">
                    <div class="col-md-12">
                        <h4 class="poll-h">ОПРОСЫ</h4>
                        <ul class="poll-list">
                            <li>Стоит ли учиться летом?</li>
                            <li>Нужны ли промежуточные экзамены?</li>
                            <li>Можно ли совмещать учебу и активную студенческую жизнь?</li>
                        </ul>
                        <div class="col-md-12" style="margin-top:50px;">
                            <a class="btn-red">БОЛЬШЕ ОПРОСОВ</a>
                            </div>
                        </div>

                </div>
            </div>
            <div class="col-md-4 hidden-xs hidden-sm">
                <div class="poll-item hidden-xs hidden-sm">
                    <div class="col-md-12">
                        <h4 class="poll-h">АНАЛИТИКА</h4>
                        <p style="text-align:center; padding-left: 5%;">С помощью новых структур идет совершенствование управления университетом. У нас этот процесс вертикальный - основные полномочия у единого центра, ректората. На Западе гораздо больше передано структурным подразделениям.</p>
                        <div class="col-md-12" style="margin-top:20px;"><a class="btn-red">ПОДРОБНЕЕ</a></div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="poll-item">
                    <div class="col-md-12">
                        <h4 class="poll-h">ГОЛОСОВАНИЕ</h4>
                        <p style="text-align:center; padding-left: 5%; font-size: 20px; color:gray; padding-top: 30px;">Стоит ли делать<br /> youtube канал<br /> для нашего проекта?</p>

                        <form class="form-inline">

                            <div class="form-group">
                                <input name="group20" type="radio" id="radio120" checked="checked">
                                <label for="radio120">Да</label>
                            </div>

                            <div class="form-group" >
                                <input name="group20" type="radio" id="radio121">
                                <label for="radio121">Нет</label>
                            </div>

                          </form>

                        <div class="col-md-12" style="margin-top:40px;">
                            <a class="btn-red">БОЛЬШЕ ОПРОСОВ</a>
                        </div>
                        </div>
                </div>
            </div>
            
        </div>
    
</div>



<div class="news-block col-md-12">
    <div class="col-md-6 col-xs-12 col-sm-12 news-banner">
        <h1>Новости</h1>
        <p class="hidden-xs hidden-sm">
            Здесь будет какая-то информация о том, что это за
            «новости» в целом, что здесь можно найти и что узнать,
            но кратко, буквально одно-два предложения.
        </p>
        <div class="news-buttons">
            <a href="@Url.Action("NewsMainPage","News")" class="btn-red">ПОСМОТРЕТЬ ВСЕ</a>
        </div>
    </div>
    @*@foreach (var item in Model.News)
    {
        <a href="@Url.Action("Details","News",new {id = @item.Id})">
            <div class="col-md-3 one-news-block" style="background-image: url(@Url.Content(item.HomePageImagePath)); -webkit-box-shadow: inset 0px -138px 41px -31px rgba(0,0,0,0.24); -moz-box-shadow: inset 0px -138px 41px -31px rgba(0,0,0,0.24); box-shadow: inset 0px -138px 41px -31px rgba(0,0,0,0.24);">
                @if (@item.Title.Length > 39)
                {
                    <h3>@item.Title.Substring(0, 39)...</h3>

                }
                else
                {
                    <h3>@item.Title</h3>
                }
                <h4>читать далее>></h4>
            </div>
        </a>
    }*@

    <div class="col-md-3 col-xs-7 col-sm-7 one-news-block">
        <h4><i class="fa fa-flask fa-3x"></i></h4>
        <h3>НОВОСТИ НАУКИ</h3>

    </div>

    <div class="col-md-3 col-xs-5 col-sm-5 one-news-block">
        <h4><i class="fa fa-compass fa-3x"></i></h4>
        <h3>НОВОСТИ СПОРТА</h3>

    </div>




    <div class="col-md-6 col-xs-5 col-sm-5 one-news-block">
        <h4><i class="fa fa-university fa-3x"></i></h4>
        <h3>НОВОСТИ КУЛЬТУРЫ</h3>

    </div>


    <div class="col-md-3 col-xs-7 col-sm-7 one-news-block">
        <h4><i class="fa fa-suitcase fa-3x"></i></h4>
        <h3>БИЗНЕС ОБЗОР</h3>

    </div>

    <div class="col-md-3 one-news-block hidden-xs hidden-sm">
        <h4>
            <i class="fa fa-user-circle-o fa-3x"></i>
        </h4>
            <h3>НОВОСТИ ВУЗОВ</h3>

</div>

</div>

