@model RSC.Data.DbModels.PublicEventInformation

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .main-event-block{
        margin-top: 60px;
    }
    .event-left-info {
        text-align: center;
        -webkit-box-shadow: -1px 9px 25px 1px rgba(0,0,0,0.58);
        -moz-box-shadow: -1px 9px 25px 1px rgba(0,0,0,0.58);
        box-shadow: -1px 9px 25px 1px rgba(0,0,0,0.58);
    }
    .event-full-info {
        padding-bottom: 20px;
        -webkit-box-shadow: -1px 9px 25px 1px rgba(0,0,0,0.58);
        -moz-box-shadow: -1px 9px 25px 1px rgba(0,0,0,0.58);
        box-shadow: -1px 9px 25px 1px rgba(0,0,0,0.58);
    }



</style>

<div class="col-md-12 main-event-block">
    <div class="col-md-3 event-left-info">
        <img src="@Html.DisplayFor(model => model.SmallFoto.Path)"/>
        <h4>Проводится:</h4>
        <p>@Html.DisplayFor(model => model.Event.StartDateTime) - @Html.DisplayFor(model => model.Event.StopDateTime)</p>
        <h4>Адрес мероприятия:</h4>
        <p>@Html.DisplayFor(model => model.Event.Adress)</p>
        @*<a href="#" class="btn-red" style="padding-left:15px; padding-right:15px;">ПОДАТЬ ЗАЯВКУ</a>*@
    </div>
    <div class="col-md-9" style="padding-left:30px;">
        <div class="col-md-12 event-full-info">
            <h1 style="padding-left:15px;">@Html.DisplayFor(model => model.Event.NameEvent)</h1>
            <div class="col-md-12 event-about">
                <h2>О МЕРОПРИЯТИИ</h2>
                <h3>Описание:</h3>
                <p style="word-wrap:break-word;">@Html.DisplayFor(model => model.Event.PublicEventInformation.TextForDetailsView)</p>

                @if (@Html.DisplayFor(model => model.Event.PublicEventInformation.VideoLink) != null)
            {
                    <h3>Видеопрезентация:</h3>
                    <p>@Html.DisplayFor(model => model.Event.PublicEventInformation.VideoLink)</p>
                }

                @if (@Html.DisplayFor(model => model.Event.PublicEventInformation.EventWebSite) != null)
                {
                    <h3>Сайт мероприятия:</h3>
                    @Html.DisplayFor(model => model.Event.PublicEventInformation.EventWebSite)

                }
                @if (@Html.DisplayFor(model => model.Event.PublicEventInformation.FacebookGroup) != null || @Html.DisplayFor(model => model.Event.PublicEventInformation.VKGroup) != null || @Html.DisplayFor(model => model.Event.PublicEventInformation.InstagramGroup) != null)
            {
                    <h3>Ссылки на социальные сети мероприятия:</h3>
                    @if (@Html.DisplayFor(model => model.Event.PublicEventInformation.FacebookGroup) != null)
                    {

                        @Html.DisplayFor(model => model.Event.PublicEventInformation.FacebookGroup)
                        <br />



                    }
                    @if (@Html.DisplayFor(model => model.Event.PublicEventInformation.VKGroup) != null)
                {
                        @Html.DisplayFor(model => model.Event.PublicEventInformation.VKGroup)
                        <br />
                    }
                    @if (@Html.DisplayFor(model => model.Event.PublicEventInformation.InstagramGroup) != null)
                {
                        @Html.DisplayFor(model => model.Event.PublicEventInformation.InstagramGroup)

                    }




                }


            </div>
        </div>
    </div>


</div>


@*<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>*@
