@model RSC.Data.DbModels.PublicEventInformation

@{
    ViewData["Title"] = "Детали";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .main-event-block{
        margin-top: 60px;
        padding-left: 0px;
        padding-right: 0px;
    }
    .event-left-info {
        text-align: center;
        -webkit-box-shadow: -1px 9px 25px 1px rgba(0,0,0,0.58);
        -moz-box-shadow: -1px 9px 25px 1px rgba(0,0,0,0.58);
        box-shadow: -1px 9px 25px 1px rgba(0,0,0,0.58);
    }
    .event-full-info {
        padding-bottom: 20px;
        -webkit-box-shadow: -1px 9px 25px 1px rgba(0,0,0,0.58);
        -moz-box-shadow: -1px 9px 25px 1px rgba(0,0,0,0.58);
        box-shadow: -1px 9px 25px 1px rgba(0,0,0,0.58);
    }
</style>

<div class="col-md-12 main-event-block">
    <div class="col-md-3 event-left-info">
        <img src="@Html.DisplayFor(model => model.SmallFoto.Path)" style="width:100%;padding-top:10px;"/>
        <h4>Проводится:</h4>
        <p>@Html.DisplayFor(model => model.Event.StartDateTime) - @Html.DisplayFor(model => model.Event.StopDateTime)</p>
        @*<h4>Адрес мероприятия:</h4>
        <p>@Html.DisplayFor(model => model.Event.Adress)</p>*@
    </div>
    <div class="col-md-9" style="padding-left:30px;">
        <div class="col-md-12 event-full-info">
            <h1 style="padding-left:15px;">@Html.DisplayFor(model => model.Event.NameEvent)</h1>
            <div class="col-md-12 event-about">
                <h2 style="font-weight: bold;">О МЕРОПРИЯТИИ</h2>
                <h3>Описание:</h3>
                <p style="word-wrap:break-word;">@Html.DisplayFor(model => model.Event.PublicEventInformation.TextForDetailsView)</p>

                @if (!string.IsNullOrEmpty(@Model.Event.PublicEventInformation.VideoLink))
                {
                    <h3>Видеопрезентация:</h3>
                    <p>@Html.DisplayFor(model => model.Event.PublicEventInformation.VideoLink)</p>
                }

                @if (!string.IsNullOrEmpty(@Model.Event.PublicEventInformation.EventWebSite))
                {
                    <h3>Сайт мероприятия:</h3>
                    @Html.DisplayFor(model => model.Event.PublicEventInformation.EventWebSite)

                }
                @if (!string.IsNullOrEmpty(Model.Event.PublicEventInformation.FacebookGroup) || !string.IsNullOrEmpty(Model.Event.PublicEventInformation.VKGroup) || !string.IsNullOrEmpty(Model.Event.PublicEventInformation.InstagramGroup))
                {
                    <h3>Ссылки на социальные сети мероприятия:</h3>
                    @if (!string.IsNullOrEmpty(Model.Event.PublicEventInformation.FacebookGroup))
                    {

                        @Html.DisplayFor(model => model.Event.PublicEventInformation.FacebookGroup)
                        <br />
                    }
                    @if (!string.IsNullOrEmpty(Model.Event.PublicEventInformation.VKGroup))
                    {
                        @Html.DisplayFor(model => model.Event.PublicEventInformation.VKGroup)
                        <br />
                    }
                    @if (!string.IsNullOrEmpty(Model.Event.PublicEventInformation.InstagramGroup))
                    {
                        @Html.DisplayFor(model => model.Event.PublicEventInformation.InstagramGroup)

                    }
                }
            </div>
        </div>
    </div>
</div>