@model RSC.Controllers.Models.AccountViewModels.AdditionInfo

<div>
    <h4>Тип учетной записи - ООВО</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
        @Html.DisplayNameFor(model => model.Surname)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Surname)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MiddleName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MiddleName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Region)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Region.RegionName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UniversityForm)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UniversityForm)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UniversityData)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UniversityData.UniversityName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.JobPhoneNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.JobPhoneNumber)
        </dd>

        <dd>
            <p>
                <a href="@Model.PowerOfAttorney.Path" class="button" download><i class="fa fa-download"></i>Скачать доверенность</a>
            </p>
        </dd>
    </dl>
</div>
